@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do carrinho
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body{
    overflow-x: hidden;
    font-family: $font_main;
    max-width: 100%;
    > .menu {
        padding-bottom: 15px;
        padding-top: 15px;
        > .menu-lateral {
            @include make-xs-column(3);
            background-color: $vermelho_fraco;
            width: 270px !important;
            margin-left: 15px;
            padding-left: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            > a {
                width: 100%;
                display: block;
                padding-bottom: 10px;
                padding-top: 10px;
                > img {
                    // width: 27px;
                    padding-left: 0px;
                    display: inline;
                }   
                > div {
                    display: inline;
                    color: #ffffff;
                    padding-left: 20px;
                }
            }
            /* > a:nth-child(2) {
                > img {
                    width: 17px;
                    padding-left: 0px;
                    margin-left: 5px;
                }
                > div {
                    padding-left: 25px;
                }
            } */
            > a:hover{
                text-decoration: none;
                > div {
                    font-family: $font_main_bold;
                    color: #000;
                }
            }
            > a:focus{
                text-decoration: none;
                > div {
                    color: #000;
                    font-family: $font_main_bold;
                }
            }
        }
        > .imagem {
            @include make-xs-column(9);
            > img {
                @include img-responsive();
            }
        }
    }
    > .itens {
        min-height: 1000px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        >.carrinhoVazio{
            > .imagemCarrinhoVazio{
                // text-align: center;
                // @include make-xs-column(4);
            }
            .textoCarrinhoVazio{
                // @include make-xs-column(8);
                // margin-top: 20px;
                > .tituloCarrinhoVazio{
                    text-align:center;
                    font-size: 30px;
                    font-family: $font_main_bold;
                    color: #BE392A;
                }
                > p{
                    text-align: center;
                    font-size: 15px;
                    font-family: $font_main_bold;
                }
            }
        }
        > h1{
            @include make-xs-column(12);
            font-family: "Century Gothic Bold";
            text-align: center;
        }
        > .combo {
            > .tabela_itens{
                @include make-xs-column(12);
                #cabecalhoTabela{
                    color:white;
                    background-color:$vermelho_fraco; 
                    border-style:solid; 
                    border-bottom-width:5px;
                    border-top-width:0;
                    border-left-width:0;
                    border-right-width:0;
                    border-bottom-color: $vermelho_forte;
                    font-family: "Century Gothic Bold";
                    font-size: 12px;
                }
                .nomeProdutoTabela{
                    vertical-align: middle;
                    font-size: 9px;
                }
                .precoProdutoTabela{
                    vertical-align: middle;
                    font-size: 9px;
                }
            }
        }

        > .carrinho {
            // margin: 0 !important;
            height: auto;
            // padding: 0 !important;
            // font-size: 17px;
            > .tabela_itens{
                @include make-xs-column(12);
                #cabecalhoTabela{
                    
                    color:white;
                    background-color:$vermelho_fraco; 
                    border-style:solid; 
                    border-bottom-width:5px;
                    border-top-width:0;
                    border-left-width:0;
                    border-right-width:0;
                    border-bottom-color: $vermelho_forte;
                    font-family: "Century Gothic Bold";
                    font-size: 13px;
                    #precoUnitario{
                        display: none;
                    }
                    #deliveryTabela{
                        display: none;
                    }
                    
                }
                
                .iconeRemoverProdutoTabela{
                    vertical-align: middle;
                    font-size: 15px;
                }
                .nomeProdutoTabela{
                    vertical-align: middle;
                    font-size: 13px;
                }
                .precoProdutoTabela{
                    vertical-align: middle;
                    font-size: 12px;
                    display: none;
                }
                .subtotalProdutoTabela{
                    vertical-align: middle;
                    font-size: 13px;
                }
                .quantidadeProdutoTabela{
                    vertical-align: middle;
                    .quantidadeItemTabela{
                        border:none;
                        background-color:transparent;
                        width:10px;
                        // float: left;
                    } 
                    .iconeAdicionarProdutoTabela{
                        font-size: 15px;
                        width: 20px;
                        // float: left;
                    }
                    .iconeExcluirProdutoTabela{
                        width: 20px;
                        font-size: 15px;
                        // float: right;
                    }
                }
                .nomeProdutoDisponivel{
                    display: none;
                }
            }
            textarea:focus {
                border-color: $vermelho_fraco;
                box-shadow: 0 0 0 0.2rem rgba(210, 39, 48, 0.25);
            } 
        }
        .legenda-carrinho{
            padding: 20px;
        }
        .shadow-textarea{
            padding-left: 30px;
            padding-right: 30px;
        }
        > .rodapeCarrinho{
            border: 1px solid #ccc !important;
            border-radius: 10px;
            padding: 10px 20px 10px 10px;
            >.ladoEsquerdo{
                padding-bottom: 10px;
                text-align: center;
                p{
                    @include make-xs-column(12);
                    text-align: center;
                    font-size: 18px;
                    font-family: "Century Gothic Bold";
                }
                div.botaoCupom{

                    .botaoAdicionarCupom button {
                        background-color: $vermelho_fraco;
                        border-color: $vermelho_forte;
                        color: #ffffff;
                    }
                    div.form-inline{
                        padding-left: 40px !important;
                        padding-right: 40px !important;
                        a.botaoAdicionarCupom{
                            padding-top: 10px;
                        }
                    }
                    
                }
                div.forma-pgt{
                    padding-left: 40px !important;
                    padding-right: 40px !important;
                }
                >.btn-group{
                    @include make-xs-column-offset(3);
                    margin-left: 0 !important;
                }
                label{
                    width:120px;
                }
                >.btn-group-toggle{
                    margin-top:10px;
                    > .btn{
                        background-color: $vermelho_fraco;
                        border-color: $vermelho_forte;
                        
                        > input{
                            background-color: $vermelho_forte;
                        }
                    }
                    > .btn:active,.btn:hover, .active{
                        background-color: $vermelho_forte;
                    }
                    > label{
                        background-color: $vermelho_fraco;
                        border-color: $vermelho_forte;
                        
                        > input{
                            background-color: $vermelho_forte;
                        }
                    }
                }
            }
            >.ladoDireito{
                text-align: center;
                #infoDelivery{
                    margin-top: 5px;
                    
                }
                #infoDeliverySemEndereco{
                    display: block;
                    width: 60%;
                    padding-right: 10px !important;
                    padding-left: 10px !important;
                }
                #infoBalcao{
                    margin-top: 5px;
                }
                p{
                    @include make-xs-column(12);
                    text-align: center;
                    font-size: 18px;
                    font-family: "Century Gothic Regular";
                }
                > .linhaBotao{
                    width: 100%;
                    height: auto;
                    display: inline-flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    padding-bottom: 20px;
                    > .botaoCarrinhoEnviar{
                        button{
                            // @include make-xs-column(12);
                            background-color: $vermelho_fraco;
                            border-color:$vermelho_forte;
                            color: #ffffff;
                        }
                    }
                    > .botaoCarrinhoEsvaziar{
                        padding-right: 20px;
                        padding-left: 10px;
                        position: relative;
                        button{
                            // @include make-xs-column(12);
                            background-color: $vermelho_fraco;
                            border-color:$vermelho_forte;
                        }
                    }
                }
            }
        } 
    }
    > .whatsapp {
        position: fixed;
        right: 36px;
        bottom: 80px;
        height: 42px;
        width: 42px;
        z-index: 9999;
        > a {
            > img {
                width: 50px;
            }
        }
    }
}