@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do carrinho
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body{
    overflow-x: hidden;
    font-family: $font_main;
    > .menu {
        padding-bottom: 15px;
        padding-top: 15px;
        > .menu-lateral {
            @include make-md-column(3);
            background-color: $vermelho_fraco;
            width: 270px !important;
            margin-left: 15px;
            padding-left: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            > a {
                width: 100%;
                display: block;
                padding-bottom: 10px;
                padding-top: 10px;
                > img {
                    // width: 27px;
                    padding-left: 0px;
                    display: inline;
                }
                > div {
                    display: inline;
                    color: #ffffff;
                    padding-left: 20px;
                }
            }
            /* > a:nth-child(2) {
                > img {
                    width: 17px;
                    padding-left: 0px;
                    margin-left: 5px;
                }
                > div {
                    padding-left: 25px;
                }
            } */
            > a:hover{
                text-decoration: none;
                > div {
                    font-family: $font_main_bold;
                    color: #000;
                }
            }
            > a:focus{
                text-decoration: none;
                > div {
                    color: #000;
                    font-family: $font_main_bold;
                }
            }
        }
        > .imagem {
            @include make-md-column(9);
            > img {
                @include img-responsive();
            }
        }
    }
    > .itens {
        min-height: 250px;
        >.carrinhoVazio{
            > .imagemCarrinhoVazio{
                @include make-md-column(4);
            }
            .textoCarrinhoVazio{
                @include make-md-column(8);
                margin-top: 20px;
                > .tituloCarrinhoVazio{
                    font-family: $font_main_bold;
                    color: #BE392A;
                }
                > p{
                    font-family: $font_main_bold;
                }
            }
        }
        > h1{
            font-family: "Century Gothic Bold";
        }
        > .carrinho {
            font-size: 15px;
            > .tabela_itens{
                @include make-md-column(12);
                #cabecalhoTabela{
                    color:white;
                    background-color:$vermelho_fraco; 
                    border-style:solid; 
                    border-bottom-width:5px;
                    border-top-width:0;
                    border-left-width:0;
                    border-right-width:0;
                    border-bottom-color: $vermelho_forte;
                    font-family: "Century Gothic Bold";
                    height: 33px;
                    font-size: 16px;
                }

                .quantidadeProdutoTabela{
                    vertical-align: middle;
                    display: inline-flex;
                    padding-left: 0;
                    padding: 10px;
                }
                .quantidadeItemTabela{
                    border:none;
                    background-color:transparent;
                    width:30px;
                    font-weight: bold;
                }
                #qtde-x{
                    font-size: 10px;
                    font-weight: bold;
                }
            }
            textarea:focus {
                border-color: $vermelho_fraco;
                box-shadow: 0 0 0 0.2rem rgba(210, 39, 48, 0.25);
            } 
        }

        >.combo {
            >.tabela_itens {
                @include make-lg-column(12);

                #cabecalhoTabela {
                    color: white;
                    background-color: $vermelho_fraco;
                    border-style: solid;
                    border-bottom-width: 5px;
                    border-top-width: 0;
                    border-left-width: 0;
                    border-right-width: 0;
                    border-bottom-color: $vermelho_forte;
                    font-family: "Century Gothic Bold";
                    font-size: 14px;
                }

                .quantidadeItemTabela {
                    border: none;
                    background-color: transparent;
                    width: 30px;
                }
            }
        }

        >.rodapeCarrinho {
            width: 100%;
            border: 1px solid #ccc !important;
            border-radius: 10px;
            padding: 10px 20px 10px 10px;
            >.ladoEsquerdo{
                padding-left: 30px !important;
                @include make-md-column(6);
                padding-bottom: 20px;
                float:left !important;
                p {
                    font-size: 20px;
                    font-family: "Century Gothic Bold";
                }
                .botaoAdicionarCupom button {
                    background-color: $vermelho_fraco;
                    border-color: $vermelho_forte;
                    color: #ffffff;
                }
                >.btn-group-toggle{
                    margin-top:10px;
                    > .btn{
                        background-color: $vermelho_fraco;
                        border-color: $vermelho_forte;
                        
                        > input{
                            background-color: $vermelho_forte;
                        }
                    }
                    > .btn:active,.btn:hover, .active{
                        background-color: $vermelho_forte;
                    }
                    > label{
                        background-color: $vermelho_fraco;
                        border-color: $vermelho_forte;
                        
                        > input{
                            background-color: $vermelho_forte;
                        }
                    }
                }
                #infoDelivery{
                    padding-top: 10px;
                }
            }
            >.ladoDireito{
                width: 50%;
                float:right !important;
                @include make-md-column(6);

                #infoDelivery{
                    margin-top: 5px;
                }
                #infoBalcao{
                    margin-top: 5px;
                }
                
                p {
                    font-size: 20px;
                    font-family: "Century Gothic Regular";
                }
    
                > .linhaBotao{
                    > .botaoCarrinhoEnviar{
                        button{
                            float:left;
                            margin:30px 0 10px 0;
                            background-color: $vermelho_fraco;
                            border-color:$vermelho_forte;
                            color: #ffffff;
                        }  
                    }
                    > .botaoCarrinhoEsvaziar{
                        button{
                            background-color: $vermelho_fraco;
                            border-color:$vermelho_forte;
                            float:right;
                            margin:30px 0 10px 10px;
                        }
                    }
                }
            }
        }  
    }
    > .whatsapp {
        position: fixed;
        right: 36px;
        bottom: 80px;
        height: 42px;
        width: 42px;
        z-index: 9999;
        > a {
            > img {
                width: 50px;
            }
        }
    }
}