@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do carrinho
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body{
    font-family: $font_main;
    > .menu {
        padding-bottom: 15px;
        padding-top: 15px;
        > .menu-lateral {
            @include make-xs-column(3);
            background-color: $vermelho_fraco;
            width: 270px !important;
            margin-left: 15px;
            padding-left: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            > a {
                width: 100%;
                display: block;
                padding-bottom: 10px;
                padding-top: 10px;
                > img {
                    // width: 27px;
                    padding-left: 0px;
                    display: inline;
                }   
                > div {
                    display: inline;
                    color: #ffffff;
                    padding-left: 20px;
                }
            }
            /* > a:nth-child(2) {
                > img {
                    width: 17px;
                    padding-left: 0px;
                    margin-left: 5px;
                }
                > div {
                    padding-left: 25px;
                }
            } */
            > a:hover{
                text-decoration: none;
                > div {
                    font-family: $font_main_bold;
                    color: #000;
                }
            }
            > a:focus{
                text-decoration: none;
                > div {
                    color: #000;
                    font-family: $font_main_bold;
                }
            }
        }
        > .imagem {
            @include make-xs-column(9);
            > img {
                @include img-responsive();
            }
        }
    }
    > .itens {
        >.carrinhoVazio{
            > .imagemCarrinhoVazio{
                // text-align: center;
                // @include make-xs-column(4);
            }
            .textoCarrinhoVazio{
                // @include make-xs-column(8);
                // margin-top: 20px;
                > .tituloCarrinhoVazio{
                    text-align:center;
                    font-size: 30px;
                    font-family: $font_main_bold;
                    color: #BE392A;
                }
                > p{
                    text-align: center;
                    font-size: 15px;
                    font-family: $font_main_bold;
                }
            }
        }
        > h1{
            @include make-xs-column(12);
            font-family: "Century Gothic Bold";
            text-align: center;
        }
        > .combo {
            > .tabela_itens{
                @include make-xs-column(12);
                #cabecalhoTabela{
                    color:white;
                    background-color:$vermelho_fraco; 
                    border-style:solid; 
                    border-bottom-width:5px;
                    border-top-width:0;
                    border-left-width:0;
                    border-right-width:0;
                    border-bottom-color: $vermelho_forte;
                    font-family: "Century Gothic Bold";
                    font-size: 12px;
                }
                .nomeProdutoTabela{
                    vertical-align: middle;
                    font-size: 9px;
                }
                .precoProdutoTabela{
                    vertical-align: middle;
                    font-size: 9px;
                }
            }
        }

        > .carrinho {
            > .tabela_itens{
                @include make-xs-column(12);
                #cabecalhoTabela{
                    color:white;
                    background-color:$vermelho_fraco; 
                    border-style:solid; 
                    border-bottom-width:5px;
                    border-top-width:0;
                    border-left-width:0;
                    border-right-width:0;
                    border-bottom-color: $vermelho_forte;
                    font-family: "Century Gothic Bold";
                    font-size: 12px;
                }
                .iconeRemoverProdutoTabela{
                    vertical-align: middle;
                    font-size: 15px;
                }
                .nomeProdutoTabela{
                    vertical-align: middle;
                    font-size: 9px;
                }
                .precoProdutoTabela{
                    vertical-align: middle;
                    font-size: 9px;
                }
                .subtotalProdutoTabela{
                    vertical-align: middle;
                    font-size: 9px;
                }
                .quantidadeProdutoTabela{
                    vertical-align: middle;
                    .quantidadeItemTabela{
                        border:none;
                        background-color:transparent;
                        width:10px;
                        // float: left;
                    } 
                    .iconeAdicionarProdutoTabela{
                        font-size: 15px;
                        width: 20px;
                        // float: left;
                    }
                    .iconeExcluirProdutoTabela{
                        width: 20px;
                        font-size: 15px;
                        // float: right;
                    }
                }
            }
        }
        > .rodapeCarrinho{
            >.ladoEsquerdo{
                padding-bottom: 10px;
                p{
                    @include make-xs-column(12);
                    text-align: center;
                    font-size: 18px;
                    font-family: "Century Gothic Bold";
                }
                .botaoAdicionarCupom button {
                    background-color: $vermelho_fraco;
                    border-color: $vermelho_forte;
                    color: #ffffff;
                }
                >.btn-group{
                    @include make-xs-column-offset(3);
                }
                label{
                    width:120px;
                }
                >.btn-group-toggle{
                    margin-top:10px;
                    > .btn{
                        background-color: #c57682;
                        border-color: $vermelho_forte;
                        
                        > input{
                            background-color: $vermelho_forte;
                        }
                    }
                    > .btn:active,.btn:hover, .active{
                        background-color: $vermelho_forte;
                    }
                    > label{
                        background-color: #c57682;
                        border-color: $vermelho_forte;
                        
                        > input{
                            background-color: $vermelho_forte;
                        }
                    }
                }
            }
            >.ladoDireito{
                #infoDelivery{
                    margin-top: 5px;
                }
                #infoBalcao{
                    margin-top: 5px;
                }
                p{
                    @include make-xs-column(12);
                    text-align: center;
                    font-size: 18px;
                    font-family: "Century Gothic Regular";
                }
                > .linhaBotao{
                    > .botaoCarrinhoEnviar{
                        //margin-left: 10px;
                        button{
                            @include make-xs-column(5);
                            background-color: #C57686 !important;
                            border-color:#91414F !important;
                            color: #ffffff;
                            margin-left: 40px;
                            margin-bottom: 10px;
                        }
                    }
                    > .botaoCarrinhoEsvaziar{
                        button{
                            @include make-xs-column(5);
                            float:right;
                            background-color: #C57686 !important;
                            border-color:#91414F !important;
                            margin:30px 0 10px 10px;
                        }
                    }
                }
            }
        } 
    }
    > .whatsapp {
        position: fixed;
        right: 36px;
        bottom: 80px;
        height: 42px;
        width: 42px;
        z-index: 9999;
        > a {
            > img {
                width: 50px;
            }
        }
    }
}