@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
.the-font {
    font-family: 'Lobster', cursive !important; 
} 


.ajustes-top {
    margin-top: 65px;
}

.logo {
    max-width: 40%;
    float: left;
    margin-top: -58px;
}

.super-nav {
    width: 100%;
    max-height: 50px;
    margin-top: 65px;
    background-color: #FFF1D5;
    -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.4);
    box-shadow:0px 1px 2px rgba(0,0,0,0.4);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#66000000,Positive=true);
}

.nav-left {
    float: left;
    width: 30%;   
    padding: 0;
}

.nav-left li {
    float: left;
    font-size: 24px;
    padding: 6px 76px 0px 0;
} 

.nav-left a {
    color: #52555D;
    text-shadow: 0 1px 0 #fff;
}

.nav-left a:hover {
    color: #646567;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}





.nav-right {
    float: right;
    width: 30%;   
    padding: 0;
}

.nav-right li {
    float: left;
    font-size: 24px;
    padding: 6px 0 0px 76px;
} 

.nav-right a {
    color: #52555D;
    text-shadow: 0 1px 0 #fff;
}

.nav-right a:hover {
    color: #646567;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}
.slider {
    width: 100%;
    overflow: hidden;
    padding: 20px 0 0 0;
}

/*===============================================SLIDER===============*/
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
    border: 4px solid #FBEED3;
    -moz-box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#cc000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#cc000000,Positive=true);
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: solid #fff 0px;
    left: 0px;
    background: #fff;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 18px;
    width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../../digital-center/css/images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #FFF50A;
    text-indent: -9999px;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 6px;
    outline: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #0B64C0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
    left: 0px;
    background: url(../img/controls.png) no-repeat 0 0px;
}
.bx-wrapper .bx-next {
    right: 0px;
    background: url(../img/controls.png) no-repeat -46px 0px;
}
.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
    background-position: -46px 0;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 36%;
    margin-top: -16px;
    outline: 0;
    width:29px;
    height:98px;
    text-indent: -9999px;
    z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url() -86px -11px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url() -86px -44px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}
.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

.line {
    width: 100%;
    overflow: hidden;
    padding:20px;
}

.destaque {
    width: 100%;
    overflow: hidden;
}

.destaque h1 {
    width: 100%;
    overflow: hidden;
    font-size: 38px;
    text-align: center;
    margin: 0;
    color: #FBEED3;
    text-shadow: 0 1px 0 #000;
}

.list-destaque {
    padding: 20px 0 0 0;
    width: 100%;
    overflow: hidden;
    list-style: none;
}

.list-destaque li {
    width: 33.333%;
    float: left;
    padding: 8px;

}

.list-destaque p {
    color:#FBEED3;
    text-align: center;
    font-size: 28px;
    text-shadow: 0 1px 0 #000;
    margin: 20px 0;
}

.list-destaque img {
    border: 4px solid rgb(251, 238, 211);
    -moz-box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#cc000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#cc000000,Positive=true);
}

.localizacao {
    width: 100%;
    overflow: hidden;
}

.localizacao h1 {
    width: 100%;
    overflow: hidden;
    font-size: 38px;
    text-align: center;
    margin: 0;
    color: #FBEED3;
    text-shadow: 0 1px 0 #000;
}

#map-canvas {
    margin-top: 20px;
    width: 100%;
    height: 328px;
}

.footer {
    width: 100%;
    overflow: hidden;
    padding: 26px 0 0 0;
}

.box-footer {
    width: 33.333%;
    overflow: hidden;
    float: left;
}

.box-footer ul {
    padding: 0;
    width: 100%;
    overflow: hidden;
    list-style: none;
}

.box-footer li {
    float: left;
    width: 33.333%;
    overflow: hidden;
    padding:0px 8% 0px 0px;
}

.box-footer h2 {
    font-family: 'Lobster', cursive; 
    color: #FAEDD2;
    font-size: 38px;
    text-shadow: 0 1px 0 #000;
    margin: 0 0 18px 0;
}

.box-footer-2 {
    color: #F9ECD2;
    font-size: 18px;
}

.icons-footer {
    margin: 0 10px 0 0;
    font-size: 24px !important;
}

.bg-footer-box-3 {
    background-image: url(../img/iphone.png);
    background-color: transparent;
    background-position: right top;
    background-repeat: no-repeat;
}

.google-play {
    width: 50%;
    overflow: hidden;
    float: left;
    margin: 55px 0 0 0;
}

.google-play {

}

.apple-store {
    width: 50%;
    overflow: hidden;
    float: left;
    margin: 55px 0 0 0;
}


.dropdown-menu {
    margin: 11px 0px 0px !important;
    background-color: #FFF1D5 !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) !important;
    color: #646567 !important;
}
.copy-right {
    background-color: #35373C;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    color: #FBEED3;
    padding: 16px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.bg-sub-menu {
    background-repeat:no-repeat !important; 
    padding: 0 0 0 50px !important; 
    margin: 0 10px !important; 
}

.img-item {
    width: 30%;
    overflow: hidden;
    float: left;
}

.section-item {
    padding: 80px 0 0 0;
}

.section-item img {
    border: 4px solid #FBEED3;
    -moz-box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    box-shadow:0px 1px 6px rgba(0,0,0,0.8);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#cc000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#cc000000,Positive=true);
}

.item-description {
    float: left;
    width: 70%;
    overflow: hidden;
    padding: 0 0 0 40px;
}

.item-description h1 {
    color: #FFF1D5;
    text-shadow: 0 1px 0 #000;
    margin: 0;
}

.item-description p {
    padding: 15px 0;
    color: #FFF1D5;
    text-shadow: 0 1px 0 #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.form-contact {
    font-family: 'Oswald', sans-serif;
    width: 65%;
    overflow: hidden;
    float: left;
}

.form-contact input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: solid 1px #FFF1D5;
    background-color: transparent;
    padding: 0  15px;
    text-transform: uppercase;
    color: #FFF1D5;
}

.form-contact textarea {
    width: 100%;
    margin: 10px 0;
    border: solid 1px #FFF1D5;
    background-color: transparent;
    padding: 20px  15px;
    text-transform: uppercase;
    color: #FFF1D5;
}

.form-contact h1 {
    color: #FFF1D5;
    text-shadow: 0 1px 0 #000;
}

.btn-mine {
    border: solid 1px #FFF1D5;
    color: #FFF1D5;
    text-shadow: 0 0 0 #000;
    text-transform: uppercase;
    float: right;
    background-color: transparent;
    font-size: 18px;
    padding: 8px 20px;
    font-weight: 100;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-mine:hover {
    border: solid 1px #FFF1D5;
    color: #4F545A;
    text-shadow: 0 0 0 #fff;
    text-transform: uppercase;
    float: right;
    background-color: #FFF1D5;
    font-size: 18px;
    padding: 8px 20px;
    font-weight: 100;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebar {
    width: 35%;
    overflow: hidden;
    float: left;
    color: #FFF1D5;
    padding: 0 0 0 40px;
}

.sidebar h1 {
    color: #FFF1D5;
    text-shadow: 0 1px 0 #000;
}

.sidebar p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-shadow: 0 1px 0 #000;
    padding: 10px 0 0 0;
}

.about {
    font-family: 'Oswald', sans-serif;
    width: 65%;
    overflow: hidden;
    float: left;
    color: #FFF1D5;
}

.about h1 {
    color: #FFF1D5;
    text-shadow: 0 1px 0 #000;
}

.about p {
    font-family: "Oswald",sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-shadow: 0px 1px 0px #000;
    padding: 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #646567;
    text-decoration: none;
    background-color: transparent;
}

.copy-the-right {
    float: right;
    color: #FBEED3;
}

.copy-the-right a {
    color: #FBEED3;
}

.copy-the-right a:hover {
    color: #faf2e3;
    text-decoration: none;

}

.copy-left {
    float: left;
}

.bnt-toggle-a {
    font-size: 32px;
    padding: 6px 0;
    color: #646567;
    text-shadow: 0px 1px 0px #FFF;
    text-decoration: none;
}

.bnt-toggle-a:hover {
    color: #646567;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

#btn-toggle {
    padding: 3px 0px;
    float: right;
    display: none;
}

.icon-menu {
    width: 35px;
    height: 35px;
}

.logo-mobile {
    float: left;
    display: none;
}

.list-destaque a {
    color: #FBEED3;
}

.list-destaque a:hover {
    color: #fffbf4;
}

