$font_main: "Century Gothic Regular";

$font_main_bold: "Century Gothic Bold";

$rosa_fraco: #C57686;

$rosa_forte: #91414F;

$vermelho_forte: #C6151F;

$vermelho_fraco: #D22730;

$vermelho_rosado: #8E3C40;

$cinza: #D4D0C8;

$vermelho_teste1: #6B0000;

$marrom_escuro: #6B3321;

$marrom_claro: #6C3A30;




