@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico footer
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body {
	>footer.footer.container-fluid{
        width: 100%;
        height: auto;
        display: flex;
        background-color: $vermelho_fraco;
        flex-flow: wrap;
        color: #ffffff;
        margin: 0;
        padding: 0;
        
            >div.navbar-social.navbar-collapse{
                width: 100%;
                height: 30%;
                background-color: $vermelho_forte;
                text-align: center;
                position: relative;
                font-size: 35px;
                >a i{
                    padding: 10px;
                    color: #ffffff;
                }
            }

            >div.row.left{
                @include make-lg-column(3);
				@include make-lg-column-offset(1);
                padding: 60px;
                padding-left: 100px;
                width: 33.3%;
				text-decoration: none;
				
                ul {
					font-size: 12px;
					list-style-type: none;
					
					li{
						
						a{
							color: #ffffff;
							text-decoration: none;
							font-size: 12px;
						}
					}
                }
            }
            >div.row.center{
                padding: 60px;
				width: 33.3%;
                ul {
					font-size: 12px;
					list-style-type: none;
					li{
						a{
							color: #ffffff;
							text-decoration: none;
						}
					}
                }
                
            }
            >div.row.right{
                @include make-lg-column(3);
				@include make-lg-column-offset(1);
                padding-top: 30px;
                margin: 0 !important;
                width: 33.3%;
				display: flex;
                img{
                    @include img-responsive();
					@include center-block();
                    float: center;
                }
                >div.endereco-footer{
                    padding: 20px;
                    p{
                        float: center;
                        color: #ffffff;
                    }
                    
                }
                
                
            }
    }
	> .rodape {
		height: 35px;
		background-color: #D7CEC7;
		padding-top: 0px;
		> div {
			padding-top: 7px;
			color: #000000;
			> div:nth-child(1){
	            @include make-lg-column(6);
	        }
	        > div:nth-child(2){
	            @include make-lg-column(6);
	            text-align: right;
	            > div {
					> a{
						> img {
							@include img-responsive();
							vertical-align: text-top;
							display: inline;
							max-width: 4%;
						}
					}
	            }
			}
        }
	}
}