@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do eventos
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body {
    > div.wickedpicker {
        > p {
            display: none;
        }
        width: 130px;
        height: 90px;
    }
}

body{
    font-family: $font_main;
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #000000;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #000000;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #000000;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #000000;
    }
    > .solicitar-evento {
        padding-top: 25px;
        padding-bottom: 5px;
        height: auto;
        > .solicitacao {
            @include make-sm-column(12);
            height: auto;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            > div.titulo-eventos{
                height: 50px;
                border: 2px solid $vermelho_forte;
                border-left: 0px;
                border-right: 0px;
                margin-bottom: 10px;
                > h2 {
                    font-family: $font_main_bold;
                    font-size: 17px;
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
            > div.col-sm{
                @include make-sm-column(12);
                > form {
                    display: inline-flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    text-indent: 10px;
                    text-align: center;
                    > div{
                        @include make-sm-column(12);
                        padding-left: 0px;
                        padding-right: 0px;
                        height: 20px;
                        margin-top: 4px;
                        
                        
                    }
                    input{
                        @include make-sm-column(7);
                        outline: none;
                        border: 2px solid $vermelho_forte;
                        margin-bottom: 10px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    textarea{
                        outline: none;
                        border: 2px solid $vermelho_forte;
                        @include make-sm-column(7);
                        margin-left: auto;
                        margin-right: auto;
                    }
                    
                    button{
                        @include make-sm-column(7);
                        background-color: $vermelho_forte;
                        font-weight: bold;
                        color: #ffffff;
                        margin-top: 10px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    
                }
            }
            >div.texto-eventos{
                font-weight: bold;
                h5{
                    font-weight: bold;
                }
            }  
        }
        > .imagem{
            @include make-sm-column(5);
            > img {
                @include img-responsive();
                @include center-block();

            }
        }
    }
    > .eventos {
        padding-bottom: 20px;
        > .evento {
            @include make-sm-column(4);
            padding-bottom: 5px;
            padding-top: 5px;
            > .imagem {
                position: relative;
                top: 13px;
                > img {
                    @include img-responsive();
                    @include center-block();
                }
            }
            > .info {
                background-color: #be392a;
                border-top-left-radius: 15px;
                height: 95px;
                position: relative;
                > .data {
                    @include make-sm-column(12);
                    font-weight: bold;
                    text-align: right;
                    font-size: 13px;
                    color: #FFFFFF;
                    padding-top: 10px;
                    padding-right: 5px;
                    padding-bottom: 15px;
                }
                > .titulo {
                    text-align: center;
                    font-weight: bold;
                    font-size: 13px;
                    color: #FFFFFF;
                }
            }
            > img {
                @include img-responsive();
                @include center-block();
                max-width: 70px;
                position: absolute;
                bottom: 65px;
                width: 70px;
                left: 28px;
                z-index: 25; 
            }
        }
    }
}