@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do contato
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body {
    > div.wickedpicker {
        > p {
            display: none;
        }
        width: 130px;
        height: 90px;
    }
}

body{
    font-family: $font_main;
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #000000;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #000000;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #000000;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #000000;
    }
    > .contato {
        padding-top: 25px;
        padding-bottom: 5px;
        > .solicitacao {
            @include make-md-column(6);
            height: 392px;
            > form {
                > div {
                    @include make-md-column(12);
                    padding-left: 0px;
                    padding-right: 0px;
                    height: 30px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    > input {
                        height: 36px;
                        width: 100%;
                        border: 2px solid #91414F;
                        text-indent: 10px;
                        outline: none;
                    }
                }
                > div:nth-child(1){
                    margin-top: 0px;
                }
                > textarea {
                    width: 100%;
                    height: 299px;
                    border: 2px solid #91414F;
                    text-indent: 10px;
                    outline: none;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    resize: none;
                }
                > button {
                    width: 171px;
                    height: 34px;
                    border: none;
                    background-color: #91414F;
                    color: #FFFFFF;
                    font-family: $font_main_bold;
                    font-size: 15px;
                    text-align: center;
                    float: right;
                }
            } 
        }
        > .imagem {
            @include make-md-column(6);
            > div {
                > img {
                    @include img-responsive();
                    margin-left: auto;
                }
            }
            > div:nth-child(1) {
                padding-bottom: 37px;
            }
        }
    }
    > .imagens {
        > div {
            @include make-md-column(4);
            > .imagem {
                position: relative;
                margin-top: 32px;
                > img {
                    @include img-responsive();
                    @include center-block();
                }
            }
            > .info {
                background-clip: padding-box; 
                background-color: #C57686;
                height: 115px;
                width: 100%;
                position: relative;
                bottom: 15px;
                > .texto {
                    text-align: center;
                    font-size: 14px;
                    color: #FFFFFF;
                    padding-top: 50px;
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
            > img {
                @include img-responsive();
                @include center-block();
                position: absolute;
                bottom: 86px;
                width: 84px;
                left: 110px;
                z-index: 25; 
            }
        }
    }
    > .banner {
        padding-top: 15px;
        padding-bottom: 20px;
        > img {
            @include img-responsive();
            @include center-block();
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}