@font-face {
    font-family: "Century Gothic Regular";
    src: url("../../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../../fonts/gothicb.ttf");
}

body{
    font-family: $font_main;
    > .menu {
        padding-bottom: 15px;
        padding-top: 15px;
        > .menu-lateral {
            @include make-lg-column(3);
            background-color: #BE392A;
            width: 270px !important;
            margin-left: 15px;
            padding-left: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            > a {
                width: 100%;
                display: block;
                padding-bottom: 10px;
                padding-top: 10px;
                > img {
                    // width: 27px;
                    padding-left: 0px;
                    display: inline;
                }
                > div {
                    display: inline;
                    color: #ffffff;
                    padding-left: 20px;
                }
            }
            /* > a:nth-child(2) {
                > img {
                    width: 17px;
                    padding-left: 0px;
                    margin-left: 5px;
                }
                > div {
                    padding-left: 25px;
                }
            } */
            > a:hover{
                text-decoration: none;
                > div {
                    font-family: $font_main_bold;
                    color: #000;
                }
            }
            > a:focus{
                text-decoration: none;
                > div {
                    color: #000;
                    font-family: $font_main_bold;
                }
            }
        }
        > .imagem {
            @include make-lg-column(9);
            > img {
                @include img-responsive();
            }
        }
    }
    > .itens {
        >.carrinhoVazio{
            > .imagemCarrinhoVazio{
                @include make-lg-column(4);
            }
            .textoCarrinhoVazio{
                @include make-lg-column(8);
                margin-top: 20px;
                > .tituloCarrinhoVazio{
                    font-family: $font_main_bold;
                    color: #BE392A;
                }
                > p{
                    font-family: $font_main_bold;
                }
            }
        }
        > h1{
            font-family: "Century Gothic Bold";
        }
        > .carrinho {
            > .tabela_itens{
                @include make-lg-column(12);
                #cabecalhoTabela{
                    color:white;
                    background-color:black; 
                    border-style:solid; 
                    border-bottom-width:5px;
                    border-top-width:0;
                    border-left-width:0;
                    border-right-width:0;
                    border-bottom-color: rgb(190, 57, 42);
                    font-family: "Century Gothic Bold";
                    font-size: 14px;
                }
                .quantidadeItemTabela{
                    border:none;
                    background-color:transparent;
                    width:30px;
                }
            }
        }
        > .rodapeCarrinho{
            @include make-lg-column-offset(8);
            @include make-lg-column(4);
            p{
                font-size: 20px;
                font-family: "Century Gothic Bold";
            }
            .botaoCarrinhoEnviar{
                float:right;
                margin:10px;
                background-color: #000;
                border-color:#000;
                color: #ffffff;
            }
            .botaoCarrinhoEsvaziar{
                float:right;
                margin:10px;
            }
        } 
    }
    > .whatsapp {
        position: fixed;
        right: 36px;
        bottom: 80px;
        height: 42px;
        width: 42px;
        z-index: 9999;
        > a {
            > img {
                width: 50px;
            }
        }
    }
}