@font-face {
    font-family: "Century Gothic Regular";
    src: url("../../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../../fonts/gothicb.ttf");
}

body {
    > footer {
        font-family: $font_main;
        background-color: #000000;
        > .container {
            > .logo {
                @include make-md-column(4);
                @include make-md-column-offset(4);
                padding-top: 15px;
                padding-right: 0px;
                padding-left: 0px;
                > img {
                    @include img-responsive();
                    @include center-block();
                    max-width: 62%;
                }
                > div {
                    font-size: 10.99px;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 0px;
                }
            }
            > .infos {
                @include make-md-column(12);
                padding: 0px;
                > .links {
                    @include make-md-column(1);
                    > div {
                        padding: 10px 0px;
                        > a {
                            color: #FFFFFF;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
                > .dados {
                    @include make-md-column(4);
                    @include make-md-column-offset(3);
                    text-align: center;
                    padding-right: 0px;
                    padding-left: 0px;
                    padding-top: 20px;
                    > div {
                        font-size: 14;
                        font-weight: bold;
                        padding: 3px 0px;
                        color: #FFFFFF;
                    }
                }
                > .redes {
                    @include make-md-column(2);
                    @include make-md-column-offset(2);
                    padding-left: 0px;
                    padding-top: 50px;
                    color: #FFFFFF;
                    font-size: 14px;
                    text-align: center;
                    > div:nth-child(1) {
                        font-family: $font_main_bold;
                        font-size: 14px;
                    }
                    > .rede-social {
                        > a {
                            @include make-md-column(4);
                            padding: 0px;
                            padding-top: 15px;
                            padding-right: 5px;
                            > img {
                                @include img-responsive();
                            }
                        }
                    }
                }
            }
        }
    }
    > .rodape {
        height: 35px;
        background-color: #BE392A;
        padding-top: 0px;
        > div {
            padding-top: 7px;
            color: #000000;
            > div:nth-child(1){
                @include make-md-column(6);
            }
            > div:nth-child(2){
                @include make-md-column(6);
                text-align: right;
                > div {
                    > img {
                        @include img-responsive();
                        vertical-align: text-top;
                        display: inline;
                        max-width: 4%;
                    }
                }
            }
        }
    }
}