
@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do cardapio
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}
// *{
//     box-sizing: border-box;
// }
body{
    font-family: $font_main;
    height: auto;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    header{
        vertical-align: middle;
        background-color: $vermelho_forte;
        .container{
            margin: 0;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            >.logo{
                padding: 10px;
                width: 100%;
                img{
                    width: 6%;
                }
            }
            >.voltar{
                // width: 10%;
                padding-top: 30px;
                font-weight: bold;
                text-align: center;
                
                
                a{
                    text-decoration: none;
                    color: #FFF;
                    font-size: 18px;
                    vertical-align: middle;

                    i{
                        font-size: 28px;
                    }
                }
            }
        }    
    }
    .banner-red{
        justify-content: center;
        background-color: $vermelho_fraco;
        padding: 20px;
        .top-banner-red{
            width: 100%;
            color: #ffffff;
            font-weight: bold;
           .container-title-logo{
               text-align: center;
               display: inline-flex;
               flex-direction: row;

               h1{
                    padding-top: 30px;
                    padding-left: 150px;
                    font-weight: bold;
                }

                .logo-wrapper{
                    height: auto;
                    width: 20%;
                    margin-left: -20px;
                    #logo{
                        width: 55%;
                        
                    }
                }
           }
            
            p{
                width: 100%;
                margin: 0;
                padding: 10px;
            }
            
            button{
                font-weight: bold;
                font-size: 25px;
                padding: 20px;
                border-radius: 15px;
            }
            
        }
    }
    .vantagens{
        background-color: #00c2c4;
        text-align: center;
        height: auto;
        width: 100%;
        
        .title-center{
            font-weight: bold;
            color: #ffffff;
            font-size: 40px;
            
        }
        .lista-vantagens{
            justify-content: center;
            display: inline-flex;
            .item-vantagem{
                width: 25%;
                .img-wrapper{
                    height: auto;
                    margin: 0;
                    padding: 10px;
                    img{
                        width: 60%;
                        height: auto;
                        border-radius: 45%;
                        padding: 30px;

                        
                    }
                }
                .descricao{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        .subtitulo-vantagens{
            padding-top: 30px;
            padding: 10px;
            font-weight: bold;
            color: #ffffff;
            font-size: 30px;
        }
    }
    .pre-premios{
        width: 100%;
        display: inline-flex;
        .img-wrapper{
            width: 40%;
            img{
                height: auto;
                width: 100%;
                border-radius: 30px;
                padding: 20px;
            }
        }
        div{
            >.titulo-premios{
                font-weight: bold;
                color: #ffffff;
                font-size: 40px;
                text-align: center;
                padding: 50px;
            }
        }
    }
    .programa-pontos{
        width: 100%;
        background-color: #feaf0a;
        text-align: center;
        height: auto;
        .titulo-pontos{
            font-weight: bold;
            color: #8f4b00;
            font-size: 30px;
            padding: 20px;
        }

        .btn-wrapper{
            text-align: center;
            height: auto;
            display: inline-flex;
            margin: 0 auto;
            padding: 20px;
            width: 100%;

            >button{
                background-color:#feaf0a;
                border: 2px solid #cd760e;
                border-radius: 10px;
                color: #ffffff;
                margin: 10px;
                width: 120px;
                span{
                    font-weight: bold;
                    font-size: 38px;
                    color: #ffffff;
                }
            }
            button:hover{
                background-color:#ffc549;
            }
            button:focus{
                outline: 0;
                background-color:#ca8734;
            }
        }
        .produtos-pontos{
            display: inline-flex;
            justify-content: space-evenly;
            flex-direction: row;
            .produto{
                height: auto;
                border-radius: 20px;
                img{
                    width: 70%;
                    padding: 10px;
                    border-radius: 15px;
                }
                h2{
                    font-weight: bold;
                    color: #FFFFFF;
                }
            }
        }
        
    }

    .funcionamento-programa{
        width: 100%;
        height: auto;
        background-color: #00c2c4;
        margin-bottom: -15px;

        .titulo-funcionamento{
            color: #FFFFFF;
            font-size: 30px;
            font-weight: bold;
            padding: 20px;
        }

        .lista-regras{
            justify-content: center;
            display: inline-flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            .item{
                .icone-wrapper{
                    background-image: url(../../img/selo-vermelho.png);

                    height: 300px;
                    position: relative;
                    text-align: center;
                    width: 300px;
                    background-size: 100% 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    .desc{
                        line-height: 23px;
                        font-size: 19px;
                        .titulo-desc{
                            font-weight: bold;
                            color: #FFFFFF;
                        }

                        color: #FFFFFF;
                       
                    }
                }
            }
        }
    }


    //SASS da pagina de resgate da fidelidade!!!

    .main{
        background-color: rgb(236, 230, 230);
        .resgate-main{
            width: 100%;
            height: auto;

            h2{
                font-weight: bold;
            }

            >.pontos-info{
                >.pontos-wrapper{
                    padding-top: 20px;

                    p{
                        >span{
                            color: red;
                        }
                    }
                }
            }

            .tabela-produtos{
                background-color: #ffffff;
                border-radius: 5px;
                padding: 30px;
                .produtos-titulo{
                    font-weight: bold;
                }
            }
        }
    }
}