@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico header
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body, html{
    font-family: $font_main;
    > header{
        background-color: $vermelho_fraco;
        > .container{
            height: auto;
            margin: 0 !important;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            > .logo {
                padding-top: 15px;
                padding-right:50px;
                width: 10%;
                > a{
                    > img {
                        @include img-responsive();
                        @include center-block();
                        // @include make-lg-column(1);
                        width: 50px;
                    }
                }
                > div {
                    font-size: 14px;
                    text-align: right;
                    color: #FFFFFF;
                    padding-right: 15px;
                }
            }
            
            > form {
                // @include make-lg-column-offset(2);
                padding-top: 40px;
                padding-left: 75px;
                @include make-lg-column(12);
                

                > div.input-group {
                    @include make-lg-column(12);
                    display: inline-flex;
                    > input {
                        border: none;
                        border-radius: 0px;
                        border: 0;
                        outline: 0;
                        box-shadow: none;                        
                        background: transparent;
                        border-bottom: 2px solid #FFFFFF;
                        color: #FFFFFF;
                        // width: 100%;  
                    }
                    > input:focus{
                        outline: none;
                        border-color: #FFFFFF;
                        transition: 0.1s linear;
                        border-bottom: 5px solid #FFFFFF;
                    box-shadow: none
                    }
                    > span {
                        padding-left: 15px;
                        > button{
                            border: 1px solid white;
                            margin-top: 0px;
                            background-color: $vermelho_fraco;
                            padding-bottom: 4px;
                            padding-top: 4px;
                            font-weight: bold;
                            color: white;
                            border-radius: 0px;
                            padding-bottom: 7px;
                            padding-top: 6px;
                            height: 34px;
                            
                        }
                    }
                }
            }
            > .infos {
                @include make-lg-column(3);
                // @include make-lg-column-offset(2);
                display: inline-flex;
                padding-left: 40px;
                padding-top: 10px;
                color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                float: right;
                padding-right: 0 !important;
                // p.semana{
                //     padding-right: 35px;
                //     float: left;    
                // }
                // p.fim-semana{
                    
                //     float: right;
                // }
                > .delivery {
                    > div{
                        > img{
                            @include img-responsive;
                            float: left;
                        }
                        > a{
                            > button{
                                height: 25px;
                                width: 80px;
                                margin-left: 15px;
                                margin-top: 15px;
                                background-color: white;
                                color: $vermelho_fraco;
                                border: none;
                            }
                        }
                    }
                }
                
                    
                
            }
            >div.carrinho{
                height: auto;
                vertical-align: middle;
                position: relative;
                list-style-type: none;
                font-size: 25px;
                text-align: center;
                padding-top: 30px;
                @include make-lg-column(2);
                padding-left: 80px;
                a:hover{
                    text-decoration: none;
                    border-bottom: 4px solid #ffffff;
                    margin-bottom: -4px;
                }
            }
            
            
        }
    }
}