@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico header
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body{
    font-family: $font_main;
    > header{
        background-color: $vermelho_fraco;
        > .container{
            padding-bottom: 15px;
            display: flex;
            justify-content: space-evenly;
            > .logo {
                @include make-sm-column(2);
                padding-top: 15px;
                padding-right: 10px;
                > a{
                    > img {
                        @include img-responsive();
                        @include center-block();
                    }
                }
                > div {
                    font-size: 13px;
                    text-align: right;
                    color: #FFFFFF;
                }
            }
            > form {
                padding-top: 30px;
                @include make-sm-column(11);
                

                > div.input-group {
                    width: 100%;
                    display: inline-flex;
                    border-bottom: 2px solid #FFFFFF;
                    > input {
                        border: none;
                        border-radius: 0px;
                        outline: 0;
                        box-shadow: none;                        
                        background: transparent;
                        color: #FFFFFF;
                    }
                    ::placeholder {
                        color: white;
                        opacity: 1; /* Firefox */
                    }
                    :-ms-input-placeholder { /* Internet Explorer 10-11 */
                     color: white;
                    }
                    ::-ms-input-placeholder { /* Microsoft Edge */
                        color: white;
                    }
                    > span {
                        padding-top: 10px;
                        font-size: 12px;
                        i {
                            color: white;                           
                        }
                    }
                }
            }
            > .infos {
                @include make-xs-column(4);
                // @include make-sm-column-offset(5);
                padding-left: 23px;
                padding-top: 20px;
                color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                > .delivery {
                    > div{
                        > img{
                            @include img-responsive;
                            float: left;
                        }
                        > a{
                            > button{
                                height: 25px;
                                width: 80px;
                                margin-left: 15px;
                                margin-top: 15px;
                                background-color: white;
                                color: $vermelho_fraco;
                                border: none;
                            }
                        }
                    }
                }
            }
            >div.carrinho{
                float: right;
                list-style-type: none;
                font-size: 25px;
                text-align: center;
                padding-top: 50px;
                padding-right: 0 !important;
                width: 20%;
                a{
                    i{
                        color: 
                        #FFFFFF;
                    }
                    border-bottom: 4px solid $vermelho_forte;
                    padding-bottom: 10px;
                }
                a:hover{
                    padding-bottom: 10px;
                    text-decoration: none;
                    border-bottom: 4px solid #ffffff;
                    margin-bottom: -4px;
                }
            }
        }
        #msg-funcionamento{
            color: white;
            text-align: right;
            font-size: 16px;
            i{
                font-size: 20px;
            }
        }
    }
}