@font-face {
    font-family: "Century Gothic Regular";
    src: url("../../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../../fonts/gothicb.ttf");
}

body {
    > footer {
        font-family: $font_main;
        background-color: #000000;
        padding-bottom: 15px;
        > .container {
            > .logo {
                @include make-xs-column(12);
                padding-top: 15px;
                padding-right: 0px;
                padding-left: 0px;
                padding-bottom: 15px;
                > a{
					> img {
						@include img-responsive();
						@include center-block();
					}
				}
                > div {
                    font-size: 15px;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 0px;
                }
            }
            > .infos {
                @include make-xs-column(12);
                padding: 0px;
                > .links {
                    > div {
                        padding: 8px 0px;
                        text-align: center;
                        > a {
                            color: #FFFFFF;
                            font-size: 13px;
                            font-weight: bold;
                        }
                    }
                }
                > .dados {
                    @include make-xs-column(12);
                    text-align: center;
                    padding-right: 0px;
                    padding-left: 0px;
                    padding-top: 10px;
                    > div {
                        font-size: 13px;
                        font-weight: bold;
                        padding: 3px 0px;
                        color: #FFFFFF;
                    }
                }
                > .redes {
                    @include make-xs-column(12);
                    padding-left: 15px;
                    padding-top: 40px;
                    color: #FFFFFF;
                    font-size: 13px;
                    text-align: center;
                    > div:nth-child(1) {
                        font-family: $font_main_bold;
                        font-size: 13px;
                    }
                    > .rede-social {
                        > a {
                            @include make-xs-column(4);
                            padding: 0px;
                            padding-top: 15px;
                            padding-right: 5px;
                            > img {
                                @include img-responsive();
                            }
                        }
                    }
                }
            }
        }
    }
    > .rodape {
        height: 35px;
        background-color: #BE392A;
        padding-top: 0px;
        > div {
            font-size: 12px;
            padding-top: 7px;
            color: #000000;
            padding: 0px;
            > div:nth-child(1){
                @include make-sm-column(12);
                text-align: center;
                padding: 0px;
            }
            > div:nth-child(2){
                @include make-sm-column(12);
                text-align: center;
                padding: 0px;
                > div {
                    > img{
                        @include img-responsive();
                        vertical-align: baseline;
                        display: inline;
                        max-width: 5%;
                    }
                }
            }
        }
    }
    > .whatsapp{
        position: fixed;
        right: 15px;
        bottom: 20px;
        height: 40px;
        width: 40px;
        z-index: 9999;
        > a{
            > img{
                @include img-responsive;
            }
        }
    }
}