<link rel="stylesheet" type="text/css" href="/admin/css/rodape.css"/>


<div class="rodape">

    <div class="container">

        <div>Todos os direitos reservados a Delion Café</div>

        <div>

            <div><a style="text-decoration:none; color:black;" href="http://www.kionux.com.br">Desenvolvido por Kionux Soluções em Internet <img src="../../img/kionuxsite.png" alt="Rodapé"></a></div>
            
        </div>

    </div>

</div>

<script src="../../js/jquery-3.4.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>		
<script src="../../vendor/metisMenu/metisMenu.min.js"></script>
<script src="../../dist/js/sb-admin-2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>


<script src="../../vendor/bootstrap3/js/ie10-viewport-bug-workaround.js"></script>
<script src="../../dist/js/plugins.js"></script>
<script src="../../dist/js/main.js"></script>