@font-face {
    font-family: "Century Gothic Regular";
    src: url("../../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../../fonts/gothicb.ttf");
}

body{
    font-family: $font_main;
    > .menu {
        padding-bottom: 15px;
        padding-top: 15px;
        > .menu-lateral {
            @include make-xs-column(12);
            background-color: #BE392A;
            // width: 165px !important;
            // margin-left: 15px;
            // padding-left: 13px;
            padding-top: 5px;
            padding-bottom: 5px;
            > a {
                @include make-xs-column(12);
                // display: block;
                padding-bottom: 5px;
                padding-top: 5px;
                > img {
                    @include make-xs-column(3);
                    @include img-responsive;
                    height: 30px;
                    padding-left: 0px;
                    // display: inline;
                }
                > div {
                    @include make-xs-column(9);
                    text-align: center;
                    display: inline;
                    color: #ffffff;
                    padding-left: 20px;
                }
            }
           /*  > a:nth-child(1) {
               > img {
                   width: 17px;
                   padding-left: 0px;
                   margin-left: 5px;
               }
               > div {
                   padding-left: 25px;
               }
           } */
            > a:hover{
                text-decoration: none;
                > div {
                    color: #000;
                    font-family: $font_main_bold;
                }
            }
            > a:focus{
                text-decoration: none;
                > div {
                    color: #000;
                    font-family: $font_main_bold;
                }
            }
        }
        > .imagem {
            @include make-xs-column(0);
            > img {
                @include img-responsive();
            }
        }
    }
    > .produtos {
        > .categoria {
            @include make-xs-column(12);
            font-family: $font_main_bold;
            font-size: 14px;
            color: #FFFFFF;
            // width: 317px;
            background-color: #000000;
            border: 5px solid #BE392A;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            // margin-left: 15px;
            // padding-left: 15px;
        }
        > .produto {
            @include make-xs-column(12);
            display: inline-block;
            padding-top: 7px;
            // margin-left: 15px;
            padding-right: 15px;
            // width: 317px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            padding-right: 0px;
            border: 1px solid #000;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;

            > .imagem {
                @include make-xs-column(12);
                padding-left: 0px;
                margin-bottom: 10px;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                }
                > img {
                    @include img-responsive();
                    border: 1px solid #000000;
                    border-top: 0px;
                    border-left: 0px;
                    border-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            > .descricao {
                @include make-xs-column(12);
                padding-left: 0px;
                padding-right: 0px;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                }
                > .texto {
                    text-align: center;
                }
                > button{
                    margin-left: 25%;
                }
                > .compartilhar {
                    float: right;
                    background: none;
                    border: none;
                    > img {
                        float: right;
                        width: 20px;
                        height: 20px;
                    }
                }
                > button:hover{
                    background-color: #000;
                    color: white;
                }
            }   
        }
        > .paginacao {
            text-align: right;
            padding-right: 30px;
            > nav {
                > ul {
                    > li {
                        > a {
                            font-family: $font_main_bold;
                            background-color: #000000;
                            border: 2px solid #FFFFFF;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 6px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                            color: #FFFFFF;
                        }
                    }
                    > li:first-child, li:last-child {
                        >a{
                            border-radius: 0px;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 6px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                        }
                    }
                    > li:first-child {
                        >a{
                            padding-right: 8px;
                        }
                    }
                    > li.active {

                        > a {
                            background-color: #BE392A;
                            border-color:  #BE392A;
                            width: 20px;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}