#cabecalhoTabela{
    color:white;
    background-color:black; 
    border-style:solid; 
    border-bottom-width:5px;
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-bottom-color: rgb(190, 57, 42);
}