@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do cardapio
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body{
    font-family: $font_main;
    #navbar-cardapio{
        position: sticky;
        z-index: 9999;
        top: 20px;
        > .menu {
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 0;
            padding-right: 0;
            height: auto;
            
            > .menu-lateral {
                // @include make-sm-column(12);
                width: 100%;
                justify-content: center;
                text-align: center;
                ul.nav.nav-pills{
                    background-color: #ffffff;
                    height: auto;
                    display: inline-flex;
                    flex-direction: row;
                    li{
                        a.nav-link {
                            // width: 100%;
                            display: block;
                            height: 47px;
                            // padding-bottom: 10px;
                            // padding-top: 10px;
                            border-bottom: 2px solid #D7CEC7;
                            text-align: center;
                            // padding-right: 10px;
                            padding: 5px;
                            justify-content: center;
                            > img {
                                width: 38px;
                                height: 35px;
                                padding: 5px;
                                display: inline;
                                background-color: $vermelho_forte;
                            }
                            > div {
                                display: inline-flex;
                                color: $vermelho_forte;
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                    }
                >li.nav-item.active a{
                    background-color: #D7CEC7;
                    text-decoration: none;
                    
                    border-bottom: 2px solid $vermelho_forte;
                    padding-bottom: 5px;

                    > div {
                        font-family: $font_main_bold;
                        color: $vermelho_fraco;
                    }
                }
                >li a:hover{
                    text-decoration: none;
                    border-bottom: 2px solid $vermelho_forte;
                    padding-bottom: 5px;
                    > div {
                        color: $vermelho_forte;
                        font-family: $font_main_bold;
                    }
                }
                >li a:focus{
                    background-color: #fff;
                    text-decoration: none;
                    > div {
                        color: $vermelho_forte;
                        font-family: $font_main_bold;
                    }
                }
            }
        }
            > .imagem {
                // @include make-sm-column(8);
                @include make-sm-column-offset(3);
                width: 73%;
                >.slick-prev{
                    z-index: 10;
                    margin-left: 25px;
                }
                >.slick-next {
                    margin-right: 10px;
                }
                >a {
                    > img {
                        @include img-responsive();
                        @include center-block();
                    }
                }
                > img {
                    @include img-responsive();
                }
            }
        }
    }
    > .produtos {
        min-height: 230px;
        > .categoria {
            font-family: $font_main_bold;
            font-size: 14px;
            color: #FFFFFF;
            // width: 690px;
            background-color: $vermelho_forte;
            border: 5px solid $vermelho_fraco;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-left: 15px;
            padding-left: 15px;
            text-align: center;
            height: 40px;
            img{
                width: 30px;
                vertical-align: text-bottom;
            }
        }
        > .modal{
            > .modal-dialog{
                margin-top: 15%;
                @include make-sm-column-offset(3);
                @include make-sm-column(5);
                > .modal-content{
                    border-color: $vermelho_forte;
                    background-color: #D7CEC7;
                    color: black;

                    .ad{
                        border: none;
                        text-align: left;
                        margin-right: 10px;
                    }

                    .addCombo{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: white;
                    }
                    .addCombo:hover{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: $vermelho_forte;
                    }
                }
            }
        }
        > .produto {
            display: flex;
            padding-top: 7px;
            border: 2px solid #ccc;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-left: 15px;
            padding-right: 15px;
            // width: 690px;
            padding-bottom: 10px;
            padding-right: 0px;
            > .imagem {
                @include make-sm-column(4);
                padding-left: 0px;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                }
                > img {
                    @include img-responsive();
                    border: 1px solid $vermelho_forte;
                    border-top: 0px;
                    border-left: 0px;
                    border-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 16px
                }
            }
            > .descricao {
                @include make-sm-column(8);
                padding-left: 0px;
                padding-right: 0px;
                font-size: 12px;
                > .tituloNome {
                    font-size: 16px;
                    // text-align: center;
                    padding-bottom: 8px;
                    font-weight: bold;
                } 
                #addCarrinho{
                    font-size: 12px;
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                    margin-top: 2%;
                    margin-bottom: 10px;
                    width: 100px;
                }
                #addCombo{
                    width: 167px;
                    font-size: 10px;
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                    display: none;
                }
                #addCarrinho:hover {
                    color: $vermelho_forte;
                }
                #addCombo:hover {
                    color: $vermelho_forte;
                }
                > .preco{
                    
                    // @include make-sm-column(5);
                    text-align: center !important;
                    padding-top: 10px;
                    padding-right: 10px;
                    float: left;
                    font-size: 20px;
                }
                > .compartilhar {
                    float: right;
                    background: none;
                    border: none;
                    > img {
                        float: right;
                        width: 20px;
                        height: 20px;
                    }
                }
            }   
        }
        > .paginacao {
            text-align: right;
            padding-right: 30px;
            > nav {
                > ul {
                    > li {
                        > a {
                            font-family: $font_main_bold;
                            background-color: #000000;
                            border: 2px solid #FFFFFF;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 3px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                            color: #FFFFFF;
                        }
                        > #\31  {
                            padding-right: 6px;
                        }
                        > #\32 {
                            padding-right: 6px;
                        }
                        > #\33  {
                            padding-right: 6px;
                        }
                        > #\34  {
                            padding-right: 6px;
                        }
                        > #\35  {
                            padding-right: 6px;
                        }
                        > #\36  {
                            padding-right: 6px;
                        }
                        > #\37  {
                            padding-right: 6px;
                        }
                        > #\38  {
                            padding-right: 6px;
                        }
                        > #\39  {
                            padding-right: 6px;
                        }
                    }
                    > li:first-child, li:last-child {
                        >a{
                            border-radius: 0px;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 6px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                        }
                    }
                    > li:first-child {
                        >a{
                            padding-right: 8px;
                        }
                    }
                    > li.active {

                        > a {
                            background-color: $vermelho_forte;
                            border-color:  $vermelho_forte;
                            width: 20px;
                            padding-left: 0px;
                        }
                        > #\31  {
                            padding-right: 5px;
                        }
                        > #\32 {
                            padding-right: 5px;
                        }
                        > #\33  {
                            padding-right: 5px;
                        }
                        > #\34  {
                            padding-right: 5px;
                        }
                        > #\35  {
                            padding-right: 5px;
                        }
                        > #\36  {
                            padding-right: 5px;
                        }
                        > #\37  {
                            padding-right: 5px;
                        }
                        > #\38  {
                            padding-right: 5px;
                        }
                        > #\39  {
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
    }
    >div.barra-carrinho{
        display: none;
    }
    > .scroll-top {
        position: fixed;
        right: 3px;
        bottom: 20px;
        height: 42px;
        width: 42px;
        z-index: 9999;
        > a {
            > i {
                font-size: 38px;
                color: $vermelho_forte;
            }
        }
    }
}