@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do cardapio
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body,html{
    font-family: $font_main;
    .swal2-container {
        z-index: 9999;
        #swal2-content{
            .adicionais-wrapper{
                height: auto;
                ul{
                    width: 100%;
                    float: left;
                    padding: 10px;
                    .qtd-adicionais{
                        float:left;
                        margin-left: 60px;
                        button{
                            background-color: #000000;
                            color: #ffffff;
                            font-weight: bold;
                            font-size: 17px;
                            border: 0;
                            border-radius: 5px;
                            width: 25px;
                            outline: 0;
                        }
                        input.field{
                            width: 20px;
                            border-radius: 5px;
                            color: $vermelho_forte;
                            text-align: center;
                            font-weight: bold;
                            font-size: 18px;
                            border: 0;
                        }
                    }
                }
            }
        }
      }
    .swal2-popup{
        font-size: 14px;
      }
    #navbar-cardapio{
            
            position: sticky;
            z-index: 9999;
            top: 34px;
        > .menu {
            padding-bottom: 15px;
            padding-top: 15px;
            > .menu-lateral {
                width: 100%;
                >ul.nav.nav-pills{
                    
                    @include make-md-column(3);
                    background-color: #FFFFFF;
                    width: 100% !important;
                    // margin-left: 15px;
                    // padding-left: 20px;
                    position: relative;
                    // padding-top: 5px;
                    // padding-bottom: 5px;
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    li{
                        a.nav-link {
                            cursor: pointer;
                            width: 100%;
                            display: block;
                            height: 50px;
                            padding: 10px;
                            // padding-bottom: 10px;
                            // padding-top: 10px;
                            border-bottom: 2px solid #D7CEC7;
                            > img {
                                width: 35px;
                                height: 30px;
                                padding-left: 0px;
                                padding: 5px;
                                display: inline;
                                background-color: $vermelho_forte;
                                border-radius: 10px;
                            }
                            > div {
                                font-size: 12px;
                                display: inline-flex;
                                color: $vermelho_forte;
                                text-align: center;
                                // padding-left: 20px;
                            }
                        }
                    }

                    ul.dropdown-categoria{
                        display: none;
                        position: absolute;
                        list-style-type: none;
                        text-align: center;
                        color: $vermelho_forte;
                        background-color: #ffffff;
                        padding: 10px;
                        border-radius: 10px;
                        >li{
                            // display: block;
                            text-align: center;
                        }
                    }
                
                >li.nav-item.active a{
                    background-color: #D7CEC7;
                    text-decoration: none;
                    
                    border-bottom: 2px solid $vermelho_forte;
                    padding-bottom: 5px;

                    > div {
                        font-family: $font_main_bold;
                        color: $vermelho_fraco;
                    }
                }
                >li a:hover{
                    text-decoration: none;
                    > div {
                        color: $vermelho_forte;
                        font-family: $font_main_bold;
                    }
                }

                // >li a:hover .dropdown-categoria{
                //     display: block;
                // }
                >li a:focus{
                    background-color: #fff;
                    text-decoration: none;
                    > div {
                        color: $vermelho_forte;
                        font-family: $font_main_bold;
                    }
                }
                }
            }
            > .imagem {
                @include make-md-column(9);
                >.slick-prev{
                    z-index: 10;
                    margin-left: 20px;
                }
                >.slick-next {
                    margin-right: 20px;
                }
                >a {
                    > img {
                        @include img-responsive();
                        @include center-block();
                    }
                }
                > img {
                    @include img-responsive();
                }
            }
        }
    }
    > .produtos {
        min-height: 250px;
        > .categoria {
            font-family: $font_main_bold;
            font-size: 14px;
            color: #FFFFFF;
            width: 910px;
            height: 45px;
            background-color: $vermelho_fraco;
            border: 5px solid $vermelho_forte;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-left: 15px;
            padding-left: 15px;
            padding-top: 6px;
            text-align: center;
        }
        img{
            width: 30px;
            vertical-align: text-bottom;
        }
        > .modal{
            > .modal-dialog{
                margin-top: 15%;
                @include make-md-column-offset(3);
                @include make-md-column(5);
                > .modal-content{
                    border-color: $vermelho_forte;
                    background-color: #D7CEC7;
                    color: black;

                    .ad{
                        border: none;
                        text-align: left;
                        margin-right: 10px;
                    }

                    .addCombo{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: white;
                    }
                    .addCombo:hover{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: $vermelho_forte;
                    }
                }
            }
        }
        > .produto {
            display: flex;
            padding-top: 7px;
            border: 1px solid #CCC;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-left: 15px;
            padding-right: 15px;
            width: 910px;
            padding-bottom: 10px;
            padding-right: 0px;
            > .imagem {
                @include make-md-column(3);
                padding-left: 0px;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                }
                > img {
                    
                    @include img-responsive();
                    width: 100%;
                    border: 1px solid $vermelho_forte;
                    border-top: 0px;
                    border-left: 0px;
                    border-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 16px
                }
            }
            > .descricao {
                @include make-md-column(8);
                padding-left: 0px;
                padding-right: 0px;
                display: flex;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                }
                >.tituloNome{
                    @include make-md-column(5);
                    font-weight: bold;
                }
                >.textoDescricao{
                    @include make-md-column(8);
                    // font-size: 12px;
                } 
                >.textoDelivery{
                    @include make-md-column(2);
                    padding-top: 10px;
                }
                >div>.preco{
                    @include make-md-column(4);
                    font-size: 20px;
                    padding-top: 10px;
                    position: relative;
                }  
                #addCarrinho{
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                    margin-top: 2%;
                    margin-bottom: 10px;
                    width: 120px;
                    height: 40px;
                    float: right;
                }
                #addCombo{
                    width: 167px;
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                    display: none;
                }
                #addCarrinho:hover {
                    color: $vermelho_forte;
                }
                #addCombo:hover {
                    color: $vermelho_forte;
                }
                > .compartilhar {
                    float: right;
                    background: none;
                    border: none;
                    > img {
                        float: right;
                        width: 20px;
                        height: 20px;
                    }
                }
            }   
        }
        > .paginacao {
            text-align: right;
            padding-right: 30px;
            > nav {
                > ul {
                    > li {
                        > a {
                            font-family: $font_main_bold;
                            background-color: #000000;
                            border: 2px solid #FFFFFF;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 3px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                            color: #FFFFFF;
                        }
                        > #\31  {
                            padding-right: 6px;
                        }
                        > #\32 {
                            padding-right: 6px;
                        }
                        > #\33  {
                            padding-right: 6px;
                        }
                        > #\34  {
                            padding-right: 6px;
                        }
                        > #\35  {
                            padding-right: 6px;
                        }
                        > #\36  {
                            padding-right: 6px;
                        }
                        > #\37  {
                            padding-right: 6px;
                        }
                        > #\38  {
                            padding-right: 6px;
                        }
                        > #\39  {
                            padding-right: 6px;
                        }
                    }
                    > li:first-child, li:last-child {
                        >a{
                            border-radius: 0px;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 6px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                        }
                    }
                    > li:first-child {
                        >a{
                            padding-right: 8px;
                        }
                    }
                    > li.active {

                        > a {
                            background-color: $vermelho_forte;
                            border-color:  $vermelho_forte;
                            width: 20px;
                            padding-left: 0px;
                        }
                        > #\31  {
                            padding-right: 4px;
                        }
                        > #\32 {
                            padding-right: 4px;
                        }
                        > #\33  {
                            padding-right: 4px;
                        }
                        > #\34  {
                            padding-right: 4px;
                        }
                        > #\35  {
                            padding-right: 4px;
                        }
                        > #\36  {
                            padding-right: 4px;
                        }
                        > #\37  {
                            padding-right: 4px;
                        }
                        > #\38  {
                            padding-right: 4px;
                        }
                        > #\39  {
                            padding-right: 4px;
                        }
                    }
                }
            }
        }
    }
    >div.barra-carrinho{
        display: none;
    }
    > .scroll-top {
        position: fixed;
        right: 3px;
        bottom: 20px;
        height: 42px;
        width: 42px;
        z-index: 9999;
        > a {
            > i {
                font-size: 38px;
                color: $vermelho_forte;
            }
        }
    }
}