@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do cardapio
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body{
    scroll-behavior: smooth;
    font-family: $font_main;
    
    #navbar-cardapio{
        position: sticky;
        z-index: 9;
        top: 39px;
        overflow-x: scroll;
        margin: 0;
        
        > .menu {
            // padding-bottom: 25px;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            height: 60px;
            overflow-x: auto;
            overflow-y: hidden;
            transition: all ease 750ms;
            // padding-top: 15px;
            > .menu-lateral {
                background-color: #FFFFFF;
                display: inline-flex;
                flex-direction: row;
                height: 50px;
                
                >ul.nav.nav-pills{
                    white-space: nowrap;
                    transition: all ease 750ms;
                    display: inline-flex;
                    >li {
                        display: inline-block;
                        a.nav-link {
                            height: 45px;
                            text-align: center;
                            padding-bottom: 5px; 
                            // border-bottom: 2px solid $vermelho_forte;
                            > img {
                                display: none;
                            }
                            > div {
                                // @include make-xs-column(12);
                                font-size: 14px;
                            
                                color: $vermelho_fraco;
                                // padding-top: 15px;
                                // padding-left: 20px;
                                vertical-align: middle;
                            }
                    }
                }
                    >li.nav-item.active a{
                            background-color: #D7CEC7;
                            text-decoration: none;
                            border-bottom: 2px solid $vermelho_forte;
                            padding-bottom: 10px;
                            

                            > div {
                                font-family: $font_main_bold;
                                color: $vermelho_fraco;
                            }
                }
                
                    >li a:hover{
                        background-color: #fff;
                        text-decoration: none;
                        // border-bottom: 2px solid $vermelho_forte;
                        padding-bottom: 5px;
                        > div {
                            color: $vermelho_forte;
                            font-family: $font_main_bold;
                        }
                    }
                    >li a:focus{
                        background-color: #fff;
                        text-decoration: none;
                        > div {
                            color: $vermelho_forte;
                            font-family: $font_main_bold;
                        }
                    }
                } 
            }
            > .imagem {
                @include make-xs-column(12);
                >.slick-prev{
                    z-index: 10;
                    margin-left: 20px;
                }
                >.slick-next {
                    margin-right: 20px;
                }
                >a {
                    > img {
                        @include img-responsive();
                        @include center-block();
                    }
                }
                > img {
                    @include img-responsive();
                }
            }
        }
        >.menu::-webkit-scrollbar{
            display: none;
        }
    }
    
    > .produtos {
        min-height: 200px;
        padding-left: 0;
        padding-right: 0;
        overflow: scroll;
        > .categoria {
            @include make-xs-column(12);
            font-family: $font_main_bold;
            font-size: 14px;
            color: #FFFFFF;
            padding: 10px;
            // width: 317px;
            text-align: center;
            background-color: $vermelho_forte;
            border: 5px solid $vermelho_fraco;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            img{
                width: 30px;
                vertical-align: text-bottom;
            }
        }
        > .modal{
            @include make-xs-column(12);
            > .modal-dialog{
                margin-top: 15%;
                > .modal-content{
                    font-size: 15px;
                    text-align: center;
                    border-color: $vermelho_forte;
                    background-color: #D7CEC7;
                    color: black;
                    >h3{
                        text-align: center;
                    }
                    .ad{
                        border: none;
                        text-align: left;
                        margin-right: 10px;
                    }

                    .addCombo{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: white;
                    }
                    .addCombo:hover{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: $vermelho_forte;
                    }
                }
            }
        }
        > .produto {
            @include make-xs-column(12);
            padding-top: 7px;
            padding-right: 15px;
            // padding-bottom: 10px;
            // margin-bottom: 10px;
            padding-right: 0px;
            border: 1px solid #CCC;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            display: inline-flex;
            justify-content: space-evenly;

            > .imagem {
                width: 50%;
                height: 100px;
                padding-left: 0px;
                margin-bottom: 10px;
                justify-content: center;
                // overflow: hidden;
                padding-right: 0;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                }
                > img {
                    object-fit: cover;
                    object-position: center;
                    width: 80px;
                    height: 80px;
                    border-radius: 10px;
                    
                }
            }
            > .descricao {
                @include make-xs-column(12);
                padding-left: 0px !important;
                padding-right: 0px;
                > .tituloNome {
                    font-size: 12px;
                    padding-bottom: 8px;
                    font-weight: bold;
                    padding-left: 0px !important;
                    @include make-xs-column(12);
                }
                > .texto {
                    // text-align: center;
                }
                >.textoDescricao{
                    @include make-xs-column(12);
                    font-size: 12px;
                    padding-left: 0;
                    // display: none;
                    
                } 
                >.textoDelivery{
                    @include make-xs-column(8);
                    font-size: 10px;
                    padding-bottom: 20px;
                    padding-top: 10px;
                    padding-left: 0;
                    display: none;
                }
                #addCarrinho{
                    // font-size: 10px;
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                    height: 35px;
                    margin-top: 2%;
                    margin-bottom: 10px;
                    text-align: center;
                    margin: 0;
                    // display: none;
                }
                #addCombo{
                    display: none;
                    width: 167px;
                    // font-size: 10px;
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                }
                #addCarrinho:hover {
                    color: $vermelho_forte;
                }
                #addCombo:hover {
                    color: $vermelho_forte;
                }
                > .preco{
                    // display: none;
                    // @include make-xs-column(4);
                    text-align: center !important;
                    padding-top: 5px;
                    padding-bottom: 20px;
                    padding-right: 10px;
                    float: left;
                    font-size: 16px;
                }
                > button{
                    margin-left: 25%;
                }
                > .compartilhar {
                    float: right;
                    background: none;
                    border: none;
                    > img {
                        float: right;
                        width: 20px;
                        height: 20px;
                    }
                }
                > button:hover{
                    background-color: $vermelho_fraco;
                    color: white;
                }
            }   
        }
        > .paginacao {
            @include make-xs-column(12);
            text-align: right;
            padding-right: 30px;
            > nav {
                > ul {
                    > li {
                        > a {
                            text-align: center;
                            font-family: $font_main_bold;
                            background-color: $vermelho_fraco;
                            border: 2px solid $vermelho_fraco;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 6px;
                            margin-bottom: 5px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 22px;
                            height: 21px;
                            color: #FFFFFF;
                        }
                    }
                    > li:first-child, li:last-child {
                        >a{
                            border-radius: 0px;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 6px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                        }
                    }
                    > li:first-child {
                        >a{
                            padding-right: 8px;
                        }
                    }
                    > li.active {

                        > a {
                            background-color: $vermelho_forte;
                            border-color:  $vermelho_forte;
                            width: 20px;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }


    >div.barra-carrinho{
        position: fixed;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        height: 50px;
        bottom: 0px;
        width: 100%;
        z-index: 1000;
        background-color: $vermelho_forte;
        text-align: center;
        div{
            padding-left: 10px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            a{
                font-size: 30px;
                i{
                    font-size: 30px;
                    color: #FFFFFF;
                    span{
                        font-size: 30px;
                    }
                }
            }
        }
        div.texto-barra{
            padding-top: 10px;
            a{
                color: #FFFFFF;
                text-decoration: none;
                font-size: 17px;
            }
            
        }
    }
    > .scroll-top {
        display: none;
        position: fixed;
        right: 3px;
        bottom: 20px;
        height: 42px;
        width: 42px;
        z-index: 9999;
        > a {
            > i {
                font-size: 38px;
                
            }
        }
    }
}