@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do cardapio
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body{
    font-family: $font_main;
    > .menu {
        padding-bottom: 15px;
        padding-top: 15px;
        height: 500px;
        > .menu-lateral {
            @include make-sm-column(3);
            background-color: $vermelho_fraco;
            width: 180px !important;
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 13px;
            padding-top: 5px;
            a {
                width: 100%;
                display: block;
                height: 56px;
                padding-bottom: 10px;
                padding-top: 10px;
                > img {
                    width: 27px;
                    padding-left: 0px;
                    display: inline;
                }
                > div {
                    display: inline;
                    color: #ffffff;
                    padding-left: 20px;
                }
            }
           /*  > a:nth-child(1) {
               > img {
                   width: 17px;
                   padding-left: 0px;
                   margin-left: 5px;
               }
               > div {
                   padding-left: 25px;
               }
           } */
            > a:hover{
                text-decoration: none;
                > div {
                    color: $vermelho_forte;
                    font-family: $font_main_bold;
                }
            }
            > a:focus{
                text-decoration: none;
                > div {
                    color: $vermelho_forte;
                    font-family: $font_main_bold;
                }
            }
        }
        > .imagem {
            // @include make-sm-column(8);
            @include make-sm-column-offset(3);
            width: 73%;
            >.slick-prev{
                z-index: 10;
                margin-left: 25px;
            }
            >.slick-next {
                margin-right: 10px;
            }
            >a {
                > img {
                    @include img-responsive();
                    @include center-block();
                }
            }
            > img {
                @include img-responsive();
            }
        }
    }
    > .produtos {
        > .categoria {
            font-family: $font_main_bold;
            font-size: 14px;
            color: #FFFFFF;
            width: 690px;
            background-color: $vermelho_forte;
            border: 5px solid $vermelho_fraco;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-left: 15px;
            padding-left: 15px;
        }
        > .modal{
            > .modal-dialog{
                margin-top: 15%;
                @include make-sm-column-offset(3);
                @include make-sm-column(5);
                > .modal-content{
                    border-color: $vermelho_forte;
                    background-color: #D7CEC7;
                    color: black;

                    .ad{
                        border: none;
                        text-align: left;
                        margin-right: 10px;
                    }

                    .addCombo{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: white;
                    }
                    .addCombo:hover{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: $vermelho_forte;
                    }
                }
            }
        }
        > .produto {
            display: flex;
            padding-top: 7px;
            border: 2px solid $vermelho_forte;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-left: 15px;
            padding-right: 15px;
            width: 690px;
            padding-bottom: 10px;
            padding-right: 0px;
            > .imagem {
                @include make-sm-column(4);
                padding-left: 0px;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                }
                > img {
                    @include img-responsive();
                    border: 1px solid $vermelho_forte;
                    border-top: 0px;
                    border-left: 0px;
                    border-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 16px
                }
            }
            > .descricao {
                @include make-sm-column(8);
                padding-left: 0px;
                padding-right: 0px;
                font-size: 10px;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                } 
                #addCarrinho{
                    font-size: 10px;
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                    margin-top: 2%;
                    margin-bottom: 10px;
                    width: 167px;
                }
                #addCombo{
                    width: 167px;
                    font-size: 10px;
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                }
                #addCarrinho:hover {
                    color: $vermelho_forte;
                }
                #addCombo:hover {
                    color: $vermelho_forte;
                }
                > .compartilhar {
                    float: right;
                    background: none;
                    border: none;
                    > img {
                        float: right;
                        width: 20px;
                        height: 20px;
                    }
                }
            }   
        }
        > .paginacao {
            text-align: right;
            padding-right: 30px;
            > nav {
                > ul {
                    > li {
                        > a {
                            font-family: $font_main_bold;
                            background-color: #000000;
                            border: 2px solid #FFFFFF;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 3px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                            color: #FFFFFF;
                        }
                        > #\31  {
                            padding-right: 6px;
                        }
                        > #\32 {
                            padding-right: 6px;
                        }
                        > #\33  {
                            padding-right: 6px;
                        }
                        > #\34  {
                            padding-right: 6px;
                        }
                        > #\35  {
                            padding-right: 6px;
                        }
                        > #\36  {
                            padding-right: 6px;
                        }
                        > #\37  {
                            padding-right: 6px;
                        }
                        > #\38  {
                            padding-right: 6px;
                        }
                        > #\39  {
                            padding-right: 6px;
                        }
                    }
                    > li:first-child, li:last-child {
                        >a{
                            border-radius: 0px;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 6px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                        }
                    }
                    > li:first-child {
                        >a{
                            padding-right: 8px;
                        }
                    }
                    > li.active {

                        > a {
                            background-color: $vermelho_forte;
                            border-color:  $vermelho_forte;
                            width: 20px;
                            padding-left: 0px;
                        }
                        > #\31  {
                            padding-right: 5px;
                        }
                        > #\32 {
                            padding-right: 5px;
                        }
                        > #\33  {
                            padding-right: 5px;
                        }
                        > #\34  {
                            padding-right: 5px;
                        }
                        > #\35  {
                            padding-right: 5px;
                        }
                        > #\36  {
                            padding-right: 5px;
                        }
                        > #\37  {
                            padding-right: 5px;
                        }
                        > #\38  {
                            padding-right: 5px;
                        }
                        > #\39  {
                            padding-right: 5px;
                        }
                    }
                }
            }
        }
    }
}