@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

//Especifico do cardapio
@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

body,html{
    #navbar-cardapio{
            height: 30px;
            position: sticky;
            z-index: 9999;
            top: 34px;
        > .menu {
            padding-left: 0 !important;
            padding-right: 0 !important;
            // padding-bottom: 20px;
            // padding-top: 15px;
            width: 100%;
            // @include make-lg-column(12);
            > .menu-lateral {
                
                // @include make-lg-column(12);
                background-color: #ffffff;
                width: 100%;
                height: auto;
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                >ul.nav.nav-pills{
                        padding-left: 40px;
                    >li{ 
                        a.nav-link {
                            cursor: pointer; 
                            width: 100%;
                            height: 40px;
                            display: inline-block;
                            // padding-bottom: 10px;
                            padding-top: 10px;
                            text-align: center;
                            border-bottom: 2px solid #D7CEC7;
                            padding: 10px;
                            padding-right: 10px;
                                > img {
                                    width: 37px;
                                    height: 30px;
                                    
                                    display: inline-flex;
                                    background-color: $vermelho_forte;
                                    padding: 5px;
                                    border-radius: 10px;
                                    
                                }
                        
                            > div {
                                display: inline-flex;
                                color: $vermelho_fraco;
                                padding-left: 5px;
                            }
                        
                    }
                    a.nav-link.active{
                        background-color: #FFFFFF;
                    }
                    a.nav-link:focus{
                        background-color: #fff;
                    }
                } 
                >li.nav-item.active a{ 
                    background-color: #D7CEC7;
                        text-decoration: none;
                            
                        border-bottom: 2px solid $vermelho_forte;
                        padding-bottom: 5px;
                        > div {
                            font-family: $font_main_bold;
                            color: $vermelho_fraco;
                        }
                }
                >li a:hover{
                    text-decoration: none;
                    background-color: #fff;
                    border-bottom: 2px solid $vermelho_forte;
                    // margin-bottom: -4px;
                    padding-bottom: 5px;

                    > div {
                        font-family: $font_main_bold;
                        color: $vermelho_fraco;
                    }
                }
                    // >li a:focus{
                    //     background-color: #D7CEC7;
                    //     text-decoration: none;
                    //     > div {
                    //         color: $vermelho_forte;
                    //         font-family: $font_main_bold;
                    //     }
                    // }
                }
            }
            > .imagem {
                @include make-lg-column(9);
                >.slick-prev{
                    z-index: 10;
                    margin-left: 20px;
                }
                >.slick-next {
                    margin-right: 20px;
                }
                >a {
                    > img {
                        @include img-responsive();
                        @include center-block();
                    }
                }
                > img {
                    @include img-responsive();
                }
            }
        }
    }
    > .produtos {
        position: relative;
        min-height: 300px;
        > .categoria {
            font-family: $font_main;
            font-size: 14px;
            height: 45px;
            color: #FFFFFF;
            width: 1150px;
            background-color: $vermelho_fraco;
            border: 5px solid $vermelho_forte;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-left: 15px;
            padding-left: 15px;
            text-align: center;
            padding-top: 6px;
            img{
                width: 30px;
                vertical-align: text-bottom;
            }
        }
        > .modal{
            > .modal-dialog{
                margin-top: 10%;
                @include make-lg-column-offset(4);
                @include make-lg-column(5);
                > .modal-content{
                    border-color: $vermelho_forte;
                    background-color: #D7CEC7;
                    color: black;

                    .ad{
                        border: none;
                        text-align: left;
                        margin-right: 10px;
                    }

                    .addCombo{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: white;
                    }
                    .addCombo:hover{
                        border-color: $vermelho_forte;
                        background-color: $vermelho_fraco;
                        color: $vermelho_forte;
                    }
                }
            }
        }
        > .produto {
            display: flex;
            padding-top: 7px;
            border: 1px solid #ccc;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            margin-left: 15px;
            padding-right: 15px;
            width: 1150px;
            padding-bottom: 10px;
            padding-right: 0px;
            > .imagem {
                @include make-lg-column(2);
                padding-left: 0px;
                > .titulo {
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    padding-bottom: 8px;
                    vertical-align: middle;
                }
                > img {
                    @include img-responsive();
                    border: 1px solid $vermelho_forte;
                    border-top: 0px;
                    border-left: 0px;
                    border-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 16px;
                }
            }
            > .descricao {
                @include make-lg-column(12);
                // padding-left: 0px;
                padding-right: 0px;
                display: flex;
                justify-content: space-between;
                > .titulo {
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 8px;
                }
                >.tituloNome{
                    @include make-lg-column(2);
                    font-weight: bold;
                }
                >.textoDescricao{
                    @include make-lg-column(8);
                    // font-size: 12px;
                } 
                >.textoDelivery{
                    @include make-lg-column(2);
                    padding-top: 10px;
                    font-weight: bold;
                }
                >#preco-add{
                    @include make-lg-column(6);
                    padding-right: 0px;
                }
                >#preco-add>.preco{
                    @include make-lg-column(6);
                    width: 100%;
                    font-size: 20px;
                    padding-top: 10px;
                    position: relative;
                }  
                #addCarrinho{
                    @include make-lg-column(6);
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                    margin-top: 1%;
                    margin-bottom: 10px;
                    height: 40px;
                    float: right;
                }
                #addCombo{
                    width: 167px;   
                    background-color: $vermelho_fraco;
                    border: 1px solid $vermelho_forte;
                    color:#fff;
                    display: none;
                }
                #addCarrinho:hover {
                    color: $vermelho_forte;
                }
                #addCombo:hover {
                    color: $vermelho_forte;
                }
                > .compartilhar {
                    float: right;
                    background: none;
                    border: none;
                    > img {
                        float: right;
                        width: 20px;
                        height: 20px;
                    }
                }
            }   
        }
        > .paginacao {
             @include make-lg-column(12);
            text-align: right;
            padding-right: 30px;
            > nav {
                > ul {
                    > li {
                        > a {
                            font-family: $font_main_bold;
                            background-color: $vermelho_fraco;
                            border: 2px solid $vermelho_fraco;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 2px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                            color: #FFFFFF;
                        }
                        > #\31  {
                            padding-right: 6px;
                        }
                        > #\32 {
                            padding-right: 6px;
                        }
                        > #\33  {
                            padding-right: 6px;
                        }
                        > #\34  {
                            padding-right: 6px;
                        }
                        > #\35  {
                            padding-right: 6px;
                        }
                        > #\36  {
                            padding-right: 6px;
                        }
                        > #\37  {
                            padding-right: 6px;
                        }
                        > #\38  {
                            padding-right: 6px;
                        }
                        > #\39  {
                            padding-right: 6px;
                        }
                    }
                    > li:first-child, li:last-child {
                        >a{
                            border-radius: 0px;
                            padding-left: 0px;
                            padding-top: 0px;
                            padding-right: 6px;
                            border-top-width: 0px;
                            border-bottom-width: 0px;
                            padding-bottom: 1px;
                            border-right-width: 2px;
                            width: 25px;
                            height: 21px;
                        }
                    }
                    > li:first-child {
                        >a{
                            padding-right: 8px;
                        }
                    }
                    > li.active {

                        > a {
                            background-color: $vermelho_forte;
                            border-color:  $vermelho_forte;
                            width: 20px;
                        }
                        > #\31  {
                            padding-right: 4px;
                        }
                        > #\32 {
                            padding-right: 4px;
                        }
                        > #\33  {
                            padding-right: 4px;
                        }
                        > #\34  {
                            padding-right: 4px;
                        }
                        > #\35  {
                            padding-right: 4px;
                        }
                        > #\36  {
                            padding-right: 4px;
                        }
                        > #\37  {
                            padding-right: 4px;
                        }
                        > #\38  {
                            padding-right: 4px;
                        }
                        > #\39  {
                            padding-right: 4px;
                        }
                    }
                }
            }
        }
    }
    >div.barra-carrinho{
        display: none !important;
    }
    > .scroll-top {
        position: fixed;
        right: 3px;
        bottom: 20px;
        height: 42px;
        width: 42px;
        z-index: 9999;
        > a {
            > i {
                font-size: 45px;
                color: $vermelho_forte;
            }
        }
    }
}