@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";


@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}
//Especifico do index
body, html{
    font-family: $font_main;
    height: auto;
    width: 100%;
    margin: 0;
    overflow-x: hidden;


    > div.container-fluid.no-padding{
        position: absolute;
        padding: 0;
        width: 100%;
        height: auto;
        >div.imagens-topo {
            width: 100%;
            height: auto;
            background-position: 0 0;
            background-repeat: no-repeat;
                    >img.img-responsive.imagem-topo{
                        width: 100%;
                        height: auto;
                        max-height: 500px;
                        position: absolute;
                        @include img-responsive();
                        @include center-block();
                    }
                    >img.imagem-logo{
                        position: relative;
                        padding-top: 40px;
                        @include img-responsive();
                        @include center-block();
                    }
        }
    }
    
    > .form-cep-completo{
        font-family: $font_main;
        position: relative;
        text-align: center;
        width: 100%;
        height: auto;
        padding-top: 400px;
        padding-bottom: 30px;
        
        >div.tabs{
            position: relative;
            text-align:center;
            >ul.nav.nav-tabs{
                font-size: 20px;
                float:none;
                display:inline-flex;
                margin-bottom: 0;
                width: 40%;
                border: 0;
                padding: 0;
                margin: 0;
                >li.delivery{
                    border-color: $cinza;
                    width: 50%;
                    a{
                        color: $vermelho_fraco;
                        width: 100%;
                        background-color: $cinza;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        -moz-border-radius-topleft: 15px;
                        -moz-border-radius-topright: 15px;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px; 
                    }
                    
                }
                >li.retirada{
                    width: 50%;
                    a{
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    -moz-border-radius-topleft: 15px;
                    -moz-border-radius-topright: 15px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px; 
                    border-color: $cinza;
                    width: 100%;
                    color: #000000;
                    background-color: #ffffff;
                    }
                    
                }
                
            }
        
        }

        > div.form-cep-campos{
            position: relative;
            display: inline-flex;
            width: 40%;
            text-align: center;

           

            > div.locationField{
                position: relative;
                width: 100%;
                >span.fa-map-marker-alt{
                    position: absolute;
                    font-size: 30px;
                    padding-top: 10px;
                    left: 92%;
                    color: $cinza;
                }
                .form-control:focus {
                    border-color: $vermelho_fraco;
                    box-shadow: 0 0 0 0.2rem rgba(210, 39, 48, 0.25);
                } 
                >input.input-cep{
                    width: 100%;
                    height: 50px;
                    border-bottom-left-radius: 10px;
                    // border-top-left-radius: 10px;
                }
            }
            >div.buttonField{
                text-align: center;
                position: relative;
                margin: 0 !important;
                border: 0 !important;
                box-sizing: border-box;
                button{
                    color: #30BAEE;
                    background-color: #ffffff;
                    border-color: $cinza;
                    border-left: #ffffff;
                    height: 50px;
                    border-bottom-right-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    font: inherit;
                    
                }
                
            }
        }
    }
    >div.grid-images.row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        >div.thumb-home{
            padding: 5px;
            >a.thumbnail{
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
                border: 0 none;
                box-shadow: none;
                display: inline-block;
                overflow: hidden;
                img{
                    display: inline-block;
                    transition: all 0.3s ease;
                }
                
            }
            >a.thumbnail img:hover{
                transform: scale(1.05, 1.05);
                
            }
        }
    }
    
    
        
    >footer.footer.container-fluid{
        width: 100%;
        height: auto;
        display: inline-flex;
        background-color: $vermelho_fraco;
        flex-flow: wrap;
        flex-direction: row;
        position: relative;
        color: #ffffff;
        padding: 0;
        
        >div.navbar-social.navbar-collapse{
            width: 100%;
            height: 30%;
            background-color: $vermelho_forte;
            text-align: center;
            font-size: 35px;
            position: relative;
            >a i{
                padding: 10px;
                color: #ffffff;
            }
        }

            >div.row.left{
                display: flex;
                flex-direction: row;
                @include make-xs-column(3);
				@include make-xs-column-offset(1);
                padding: 60px;
                width: 35%;
                margin: 0 !important;
                text-decoration: none;
                ul {
                    list-style-type: none;
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
            >div.row.center{
                display: flex;
                flex-direction: row;
                padding: 60px;
                margin: 0 !important;
                width: 35%;
                @include make-xs-column(3);
				@include make-xs-column-offset(1);
                ul {
                    list-style-type: none;
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
                
            }
            >div.row.right{
                display: flex;
                flex-direction: row;
                @include make-xs-column(3);
				@include make-xs-column-offset(1);
                padding-top: 30px;
                margin-left: 0 !important;
                width: 33.3%;
                img{
                    @include img-responsive();
					@include center-block();
                    float: center;
                    position: relative;
                }
                >div.endereco-footer{
                    padding: 20px;
                    p{
                        position: relative;
                        float: center;
                        color: #ffffff;
                    }
                    
                }
                
                
            }
    }
    > .rodape {
        width: 100%;
		height: 35px;
		background-color: #D7CEC7;
        padding-top: 0px;
		> div {
			padding-top: 7px;
			color: #000000;
			> div:nth-child(1){
	            @include make-lg-column(6);
	        }
	        > div:nth-child(2){
	            @include make-lg-column(6);
	            text-align: right;
	            > div {
					> a{
						> img {
							@include img-responsive();
							vertical-align: text-top;
							display: inline;
							max-width: 4%;
						}
					}
	            }
			}
        }
	}
    >div.modal.fade{
        h4{
            color: $cinza_modal;
        }
        label{
            color: $cinza_modal;
        }
        input{
            border-color: $cinza_modal;
        }
        .form-control:focus {
            border-color: $vermelho_fraco;
            box-shadow: 0 0 0 0.2rem rgba(210, 39, 48, 0.25);
        } 

        button.btn.btn-danger{
            background-color: $vermelho_forte;
        }
    }
    
    
}