@import "../vendors/bootstrap/bootstrap/variables";
@import "../vendors/bootstrap/bootstrap/mixins";

@import "../variables";

@font-face {
    font-family: "Century Gothic Regular";
    src: url("../fonts/gothic.ttf");
}
@font-face {
    font-family: "Century Gothic Bold";
    src: url("../fonts/gothicb.ttf");
}

//Especifico do index
body, html{
    font-family: $font_main;
    height: auto;
    width: 100%;
    margin: 0;
    overflow-x: hidden;


    > div.container-fluid.no-padding{
        position: relative;
        padding: 0;
        height: auto;
        >div.imagens-topo {
            padding: 0;
            
                    >img.img-responsive.imagem-topo{
                        position: absolute;
                        @include img-responsive();
                        @include center-block();
                    }
                    >img.imagem-logo{
                        width: 20%;
                        position: relative;
                        padding-top: 10px;
                        @include img-responsive();
                        @include center-block();
                    }
        }
    }
    
    > .form-cep-completo{
        font-family: $font_main;
        position: relative;
        text-align: center;
        width: 100%;
        height: auto;
        padding-top: 10px;
        
        >div.tabs{
            position: relative;
            text-align:center;
            >ul.nav.nav-tabs{
                font-size: 14px;
                float:none;
                display:inline-flex;
                margin-bottom: 0;
                width: 100%;
                border: 0;
                padding: 0;
                margin: 0;
                >li.delivery{
                    border-color: $cinza;
                    width: 100%;
                    a{
                        color: $vermelho_fraco;
                        width: 100%;
                        background-color: $cinza;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        -moz-border-radius-topleft: 15px;
                        -moz-border-radius-topright: 15px;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px; 
                    }
                    
                }
                >li.retirada{
                    width: 100%;
                    a{
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    -moz-border-radius-topleft: 15px;
                    -moz-border-radius-topright: 15px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px; 
                    border-color: $cinza;
                    width: 100%;
                    color: #000000;
                    background-color: #ffffff;
                    }
                    
                }
                
            }
        
        }

        > div.form-cep-campos{
            position: relative;
            display: inline-flex;
            width: 100%;
            text-align: center;
            > div.locationField{
                position: relative;
                width: 100%;
                >span.fa-map-marker-alt{
                    position: absolute;
                    font-size: 30px;
                    padding-top: 10px;
                    left: 88%;
                    color: $cinza;
                }

                .form-control:focus {
                    border-color: $vermelho_fraco;
                    box-shadow: 0 0 0 0.2rem rgba(210, 39, 48, 0.25);
                } 

                >input.input-cep{
                    width: 100%;
                    height: 50px;
                    font-size: 13px;
                    border-bottom-left-radius: 10px;
                    // border-top-left-radius: 10px;
                }
            }
            >div.buttonField{
                text-align: center;
                position: relative;
                margin: 0 !important;
                border: 0 !important;
                box-sizing: border-box;
                button{
                    color: #30BAEE;
                    background-color: #ffffff;
                    border-color: $cinza;
                    border-left: #ffffff;
                    height: 50px;
                    border-bottom-right-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    font: inherit;
                    
                }
                
            }
        }
    }
    >div.grid-images.row{
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        height: auto;
        width: 100%;
        margin: 0 !important;
        justify-content: center;
        >div.thumb-home{
            padding: 5px;
            >a.thumbnail{
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
                border: 0 none;
                box-shadow: none;
                display: inline-block;
                overflow: hidden;
                img{
                    display: inline-flex;
                    transition: all 0.3s ease;
                    @include img-responsive();
                        @include center-block();
                }
                
            }
            >a.thumbnail img:hover{
                transform: scale(1.05, 1.05);
                
            }
        }
    }
    
        
    >footer.footer.container-fluid{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        flex-flow: wrap;
        background-color: $vermelho_fraco;
        color: #ffffff;
        margin: 0;
        padding: 0;
        align-items: center; text-align: center;
        position: relative;
        font-size: 15px;

            >div.navbar-social.navbar-collapse{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: auto;
                background-color: $vermelho_forte;
                text-align: center;
                position: relative;
                font-size: 35px;
                margin: 0 !important;
                
                >a i{
                    padding: 10px;
                    color: #ffffff;
                }
            }
            >div.row.left{

                position: relative;
                width: 100%;
                text-decoration: none;
                ul {
                    padding: 20px;
                    list-style-type: none;
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
            >div.row.center{
                position: relative;
                width: 100%;
                ul {
                    padding: 20px;
                    list-style-type: none;
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
                
            }
            >div.row.right{
                @include make-lg-column(3);
				@include make-lg-column-offset(1);
                width: 100%;
                position: relative;
                img{
                    @include img-responsive();
					@include center-block();
                }
                >div.endereco-footer{
                    padding: 20px;
                    p{
                        float: center;
                        color: #ffffff;
                    }
                    
                }
                
                
            }
    }

    > .rodape {
        height: 35px;
        background-color: #D7CEC7;
        padding-top: 0px;
        > div {
            font-size: 12px;
            padding-top: 7px;
            color: #000000;
            padding: 0px;
            > div:nth-child(1){
                @include make-sm-column(12);
                text-align: center;
                padding: 0px;
            }
            > div:nth-child(2){
                @include make-sm-column(12);
                text-align: center;
                padding: 0px;
                > div {
                    > a{
						> img {
							@include img-responsive();
							vertical-align: text-top;
							display: inline;
							max-width: 4%;
						}
					}
                }
            }
        }
    }
   
    >div.modal.fade{
        h4{
            color: $cinza_modal;
        }
        label{
            color: $cinza_modal;
        }
        input{
            border-color: $cinza_modal;
        }
        .form-control:focus {
            border-color: $vermelho_fraco;
            box-shadow: 0 0 0 0.2rem rgba(210, 39, 48, 0.25);
        } 

        button.btn.btn-danger{
            background-color: $vermelho_forte;
        }
    }
    
    
}
